<section th:replace="topbar :: topbar"></section>


<section th:replace="sidebar :: sidebar"></section>


<section th:replace="header :: header"></section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.sumoselect/3.0.2/jquery.sumoselect.min.js"></script>
<style>
          table{
            font-size: 14px;
        }
body{
    background-color: #dedede;
}
.customers-list{
            background-color: #ffffff;

        }
        hr{
            color: black;
        }
        #tab{
            background-color: #ffffff;
            padding-left: 10px;
            border-radius: 10px;

        }
        #tab p{
            text-align: center;
            padding-top: 13px;
            font-size: 14px;
            font-family: 'Courier New', Courier, monospace;
            font-weight: 600;

        }

    .required{
        color: #094c7f;
    }
    #newlinktpl{

    margin-top:10px;
        background: white;
    border: 0 none;
    border-radius: 0px;
    box-shadow: 0 2px 2px 2px rgb(0 0 0 / 20%);
    padding: 10px 10px 30px 10px;
    box-sizing: border-box;
    width: 94%;

    position: relative;
}

  #opt-row. input, #opt-row. textarea {
    padding: 0px 8px 4px 8px;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0px;
    margin-bottom: 25px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 16px;
    letter-spacing: 1px;
}

input.error {
    border: 1px solid red;
}

label.error {
    font-weight: normal;
    color: red;
}

.SelectClass,.SumoSelect.open .search-txt,.SumoUnder {
  position:absolute;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  top:0;
  left:0
}
.SumoSelect p {
  margin:0
}
.SumoSelect {
  width:100%;
}
.SelectBox {
  padding:5px 8px
}
.sumoStopScroll {
  overflow:hidden
}
.SumoSelect .hidden {
  display:none
}
.SumoSelect .search-txt {
  display:none;
  outline:0
}
.SumoSelect .no-match {
  display:none;
  padding:6px
}
.SumoSelect.open .search-txt {
  display:inline-block;
  width:100%;
  margin:0;
  padding:5px 8px;
  border:none;
  box-sizing:border-box;
  border-radius:5px
}
.SumoSelect.open>.search>label,.SumoSelect.open>.search>span {
visibility:hidden
}
.SelectClass,.SumoUnder {
  right:0;
  height:100%;
  width:100%;
  border:none;
  box-sizing:border-box;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter:alpha(opacity=0);
  -moz-opacity:0;
  -khtml-opacity:0;
  opacity:0
}
.SelectClass {
  z-index:1
}
.SumoSelect .select-all>label,.SumoSelect>.CaptionCont,.SumoSelect>.optWrapper>.options li.opt label {
  user-select:none;
  -o-user-select:none;
  -moz-user-select:none;
  -khtml-user-select:none;
  -webkit-user-select:none
}
.SumoSelect {
  display:inline-block;
  position:relative;
  outline:0
}
.SumoSelect.open>.CaptionCont,.SumoSelect:focus>.CaptionCont,.SumoSelect:hover>.CaptionCont {
  box-shadow:0 0 2px #7799D0;
  border-color:#7799D0
}
.SumoSelect>.CaptionCont {
  position:relative;
  border-bottom:1px solid #A4A4A4;
  min-height:14px;
  background-color:#fff;

  margin:0
}
.SumoSelect>.CaptionCont>span {
  display:block;
  padding-right:30px;
  text-overflow:ellipsis;
  white-space:nowrap;
  overflow:hidden;
  cursor:default;
  color: black;
}
.SumoSelect>.CaptionCont>span.placeholder {
  color:#ccc;
  font-style:italic
}
.SumoSelect>.CaptionCont>label {
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  width:30px
}
.SumoSelect>.CaptionCont>label>i {
  background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAYAAABy6+R8AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3wMdBhAJ/fwnjwAAAGFJREFUKM9jYBh+gBFKuzEwMKQwMDB8xaOWlYGB4T4DA0MrsuapDAwM//HgNwwMDDbYTJuGQ8MHBgYGJ1xOYGNgYJiBpuEpAwODHSF/siDZ+ISBgcGClEDqZ2Bg8B6CkQsAPRga0cpRtDEAAAAASUVORK5CYII=);
  background-position:center center;
  width:16px;
  height:16px;
  display:block;
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  margin:auto;
  background-repeat:no-repeat;
  opacity:.8
}
.SumoSelect>.optWrapper {
  display:none;
  z-index:1000;
  top:30px;
  width:100%;
  position:absolute;
  left:0;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  background:#fff;
  border:1px solid #ddd;
  box-shadow:2px 3px 3px rgba(0,0,0,.11);
  border-radius:3px;
  overflow:hidden
}
.SumoSelect.open>.optWrapper {
  top:35px;
  display:block
}
.SumoSelect.open>.optWrapper.up {
  top:auto;
  bottom:100%;
  margin-bottom:5px
}
.SumoSelect>.optWrapper ul {
  list-style:none;
  display:block;
  padding:0;
  margin:0;
  overflow:auto
}
.SumoSelect>.optWrapper>.options {
  border-radius:2px;
  position:relative;
  max-height:250px
}
.SumoSelect>.optWrapper>.options li.group.disabled>label {
  opacity:.5
}
.SumoSelect>.optWrapper>.options li ul li.opt {
  padding-left:22px
}
.SumoSelect>.optWrapper.multiple>.options li ul li.opt {
  padding-left:50px
}
.SumoSelect>.optWrapper.isFloating>.options {
  max-height:100%;
  box-shadow:0 0 100px #595959
}
.SumoSelect>.optWrapper>.options li.opt {
  padding:6px;
  position:relative;
  border-bottom:1px solid #f5f5f5
}
.SumoSelect>.optWrapper>.options>li.opt:first-child {
  border-radius:2px 2px 0 0
}
.SumoSelect>.optWrapper>.options>li.opt:last-child {
  border-radius:0 0 2px 2px;
  border-bottom:none
}
.SumoSelect>.optWrapper>.options li.opt:hover {
  background-color:#E4E4E4
}
.SumoSelect>.optWrapper>.options li.opt.sel {
  background-color:#a1c0e4;
  border-bottom:1px solid #a1c0e4
}
.SumoSelect>.optWrapper>.options li label {
  text-overflow:ellipsis;
  white-space:nowrap;
  overflow:hidden;
  display:block;
  cursor:pointer
}
.SumoSelect>.optWrapper>.options li span {
  display:none
}
.SumoSelect>.optWrapper>.options li.group>label {
  cursor:default;
  padding:8px 6px;
  font-weight:700
}
.SumoSelect>.optWrapper.isFloating {
  position:fixed;
  top:0;
  left:0;
  right:0;
  width:90%;
  bottom:0;
  margin:auto;
  max-height:90%
}
.SumoSelect>.optWrapper>.options li.opt.disabled {
  background-color:inherit;
  pointer-events:none
}
.SumoSelect>.optWrapper>.options li.opt.disabled * {
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter:alpha(opacity=50);
  -moz-opacity:.5;
  -khtml-opacity:.5;
  opacity:.5
}
.SumoSelect>.optWrapper.multiple>.options li.opt {
  padding-left:35px;
  cursor:pointer
}
.SumoSelect .select-all>span,.SumoSelect>.optWrapper.multiple>.options li.opt span {
  position:absolute;
  display:block;
  width:30px;
  top:0;
  bottom:0;
  margin-left:-35px
}
.SumoSelect .select-all>span i,.SumoSelect>.optWrapper.multiple>.options li.opt span i {
  position:absolute;
  margin:auto;
  left:0;
  right:0;
  top:0;
  bottom:0;
  width:14px;
  height:14px;
  border:1px solid #AEAEAE;

  box-shadow:inset 0 1px 3px rgba(0,0,0,.15);
  background-color:#fff
}
.SumoSelect>.optWrapper>.MultiControls {
  display:none;
  border-top:1px solid #ddd;
  background-color:#fff;
  box-shadow:0 0 2px rgba(0,0,0,.13);
  border-radius:0 0 3px 3px
}
.SumoSelect>.optWrapper.multiple.isFloating>.MultiControls {
  display:block;
  margin-top:5px;
  position:absolute;
  bottom:0;
  width:100%
}
.SumoSelect>.optWrapper.multiple.okCancelInMulti>.MultiControls {
  display:block
}
.SumoSelect>.optWrapper.multiple.okCancelInMulti>.MultiControls>p {
  padding:6px
}
.SumoSelect>.optWrapper.multiple>.MultiControls>p {
  display:inline-block;
  cursor:pointer;
  padding:12px;
  width:50%;
  box-sizing:border-box;
  text-align:center
}
.SumoSelect>.optWrapper.multiple>.MultiControls>p:hover {
  background-color:#f1f1f1
}
.SumoSelect>.optWrapper.multiple>.MultiControls>p.btnOk {
  border-right:1px solid #DBDBDB;
  border-radius:0 0 0 3px
}
.SumoSelect>.optWrapper.multiple>.MultiControls>p.btnCancel {
  border-radius:0 0 3px
}
.SumoSelect>.optWrapper.isFloating>.options li.opt {
  padding:12px 6px
}
.SumoSelect>.optWrapper.multiple.isFloating>.options li.opt {
  padding-left:35px
}
.SumoSelect>.optWrapper.multiple.isFloating {
  padding-bottom:43px
}
.SumoSelect .select-all.partial>span i,.SumoSelect .select-all.selected>span i,.SumoSelect>.optWrapper.multiple>.options li.opt.selected span i {
  background-color:#11a911;
  box-shadow:none;
  border-color:transparent;
  background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAGCAYAAAD+Bd/7AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNXG14zYAAABMSURBVAiZfc0xDkAAFIPhd2Kr1WRjcAExuIgzGUTIZ/AkImjSofnbNBAfHvzAHjOKNzhiQ42IDFXCDivaaxAJd0xYshT3QqBxqnxeHvhunpu23xnmAAAAAElFTkSuQmCC);
  background-repeat:no-repeat;
  background-position:center center
}
.SumoSelect.disabled {
  opacity:.7;
  cursor:not-allowed
}
.SumoSelect.disabled>.CaptionCont {
  border-color:#ccc;
  box-shadow:none
}
.SumoSelect .select-all {
  border-radius:3px 3px 0 0;
  position:relative;
  border-bottom:1px solid #ddd;
  background-color:#fff;
  padding:8px 0 3px 35px;
  height:20px;
  cursor:pointer
}
.SumoSelect .select-all>label,.SumoSelect .select-all>span i {
  cursor:pointer
}
.SumoSelect .select-all.partial>span i {
  background-color:#ccc
}
.SumoSelect>.optWrapper>.options li.optGroup {
  padding-left:5px;
  text-decoration:underline
}
</style>
<div class="content">



    <!-- /Widgets -->
    <div class="container-fluid">
        <div class="row" id="tab">
            <p style="float: left;"> Dashboard</p>
        </div>
        <div class="row" >
            <hr>
        </div>
        <div class="row">
            <div class="col-sm-12">



                <div class="card">
                    <div class="card-body">
                        <!-- MultiStep Form -->
                        <div id="grad1">
                            <div class="row mt-0">
                                <div class="col-12 col-sm-12 col-md-12 col-lg-12">


                                    <p>Fill all form field to go to next step</p>
                                    <div id="msform">


                                        <!-- fieldsets -->
                                        <fieldset id="basicreq">
                                            <div class="form-card" style="color:rgb(39, 39, 39);">
                                                <h2 class="fs-title">Building Location</h2>


                                                    <form id="user_basic_per_form">

                                                        <div class="basic form-group">

                                                            <div class="mb-3">

                                                                <label for="building_cluster" class="form-label">Select Building Cluster</label>
                                                                <select name="building_cluster" id="building_cluster" class="form-control">



                                                                    <option th:each="cluster : ${clusters}" th:text="${cluster.getName()}" th:value="${cluster.getId()}" ></option>

                                                                </select>
                                                            </div>  </div>
<!--                                                    <div class="basic">-->

<!--                                                        <div class="mb-3">-->

<!--                                                            <label for="region_select" class="form-label">Region</label>-->
<!--                                                            <select name="region" id="region_select" class="form-control">-->
<!--                                                                <option> Select Region</option>-->


<!--                                                              <option th:each="region : ${regions}" th:text="${region.getName()}" th:value="${region.getId()}" ></option>-->

<!--                                                            </select>-->
<!--                                                        </div>  </div>-->

<!--                                                    <div class="basic">-->
<!--                                                        <div class="mb-3">-->

<!--                                                            <label for="zone_select" class="form-label">Zones</label>-->
<!--                                                            <select name="zone" id="zone_select" class="form-control">-->
<!--                                                                <option> Select Region</option>-->
<!--                                                                <option value="test">Test</option>-->
<!--                                                         </select>-->
<!--                                                        </div></div>-->

<!--                                                    <div class="basic">-->
<!--                                                        <div class="mb-3">-->

<!--                                                            <label for="area_select" class="form-label">Areas</label>-->
<!--                                                            <select name="area" id="area_select" class="form-control">-->
<!--                                                                <option> Select Area</option>-->

<!--                                                        </select>-->
<!--                                                        </div> </div>-->
<!--                                                    <div class="basic">-->
<!--                                                        <div class="mb-3">-->
<!--                                                            <input type="text" name="user_id" value="{{$user->id}}" hidden>-->
<!--                                                            <label for="cluster_select" class="form-label">Cluster</label>-->
<!--                                                            <select name="cluster" id="cluster_select" class="form-control">-->
<!--                                                                <option> Select Cluster</option>-->

<!--                                                        </select>-->
<!--                                                        </div></div>-->



                                            </div>

                                                          <a style="color: white;" onclick="continu()" type="button" align="right" class="btn btn-primary float-right" >Continue
                                                          </a>





                                        </fieldset>
                                        <fieldset id="personalreq">
                                            <div class="form-card Personal">
                                                <h2 class="fs-title">Building Information</h2>
                                                <div class="basic form-group">
                                                    <label for="building_name">Building name <span class="required">*</span></label>
                                                    <input type="text" class="form-control" name="building_name" id="building_name"/>
                                                </div>

                                                <div class="basic form-group">
                                                    <div class="mb-3">

                                                        <label for="" class="form-label">Acquisition Purpose</label>
                                                        <select name="acquisitionPurpose" id="acquisitionPurpose" class="form-control">
                                                               <option value="Infrastructure">Infrastructure Only</option>
                                                            <option value="Infrastructure&Customers">Infrastructure & Customers</option>
                                                            <option value="Customers">Customers Only</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="basic form-group">
                                                <div class="mb-3">

                                                    <label for="" class="form-label">Building Use Type</label>
                                                    <select name="use_type" id="use_type" class="form-control">

                                                        <option value="Residential">Residential</option>
                                                        <option value="Commercial">Commercial</option>
                                                        <option value="mixeduse">Mixed Use</option>
                                                        <option value="publicsector">Public Sector</option>
                                                        <option value="other">Other</option>
                                                </select>
                                                </div>
                                            </div>
                                                <div class="basic form-group">
                                                    <div class="mb-3">

                                                        <label for="" class="form-label">Building Type</label>
                                                        <select name="building_type" id="building_type" class="form-control">
                                                            <option> Select Building Type</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="basic form-group">
                                                    <div class="mb-3">

                                                        <label for="" class="form-label">Building State</label>
                                                        <select name="building_state" id="building_state" class="form-control">
                                                            <option> Occupied</option>
                                                            <option value="Under Construction">Under Construction</option>
                                                            <option value="Unoccupied">Unoccupied</option>

                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="basic form-group">
                                                    <div class="mb-3">

                                                        <label for="" class="form-label">Source of Power</label>
                                                        <select name="power" id="power" class="form-control">

                                                            <option value="Kenya Power">Kenya Power </option>
                                                            <option value="solar">Solar</option>
                                                            <option value="wind">Wind</option>
                                                            <option value="generator">Generator</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="basic form-group">
                                                    <div class="mb-3">
                                                        <label for="" class="form-label">Backup Power Availability</label>
                                                        <input style="height:20px;" type="radio" name="backup" value="true"class="form-control"> True
                                                        <input style="height:20px;" type="radio" name="backup" value="false" class="form-control"> False


                                                    </div>
                                                </div>

                                                <div class="basic form-group hidden" id="textboxes" style="display: none">

                                                            <label for="backup_text">Backup description<span class="required">*</span></label><br>
                                                            <textarea class="form-control backup_text" id="backup_text" name="backup_text" required> </textarea>

                                                </div>
                                                <script>
                                                    $(function() {
    $('input[name="backup"]').on('click', function() {
        if ($(this).val() == 'true') {
            $('#textboxes').show();
        }
        else {
            $('#textboxes').hide();
        }
    });
});
                                                </script>

                                                <div class="basic form-group">
                                                    <label > Number of units</label>
                                                    <input required="" type="text" class="form-control" id="numberofUnits" name="numberofUnits" placeholder="Number of units" value="">
                                                </div>
                                                <div class="basic form-group">
                                                    <label > Number of Blocks</label>
                                                    <input required="" type="text" class="form-control" id="blocks" name="blocks" placeholder="Number of Blocks" value="">
                                                </div>
                                                <div class="basic form-group">
                                                    <label > Number of Floors</label>
                                                    <input required="" type="text" class="form-control" id="floors" name="floors" placeholder="Number of Floors" value="">
                                                </div>
                                                <div class="basic form-group">
                                                    <div class="mb-3">
                                                        <input type="text" name="user_id" value="{{$user->id}}" hidden>
                                                        <label for="" class="form-label">Building Security</label>
                                                        <select name="security" id="security" class="form-control">
                                                            <option> Security Level</option>
                                                            <option value="Secure">Secure</option>
                                                            <option value="Insecure">Insecure</option>

                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="basic form-group">
                                                    <label for="name">Street Name<span class="required">*</span></label>
                                                    <input type="text" class="form-control" name="street_name" id="street_name"/>
                                                </div>




                                                <div class="basic form-group">

                                                            <label for="building_description">More Building Description<span class="required">*</span></label><br>
                                                            <textarea class="form-control building_description" id="building_description" name="building_description" required> </textarea>


                                                </div>
                                                <div class="basic form-group">
                                                <label for="pp_photo">Building photo<span class="required">*</span></label>
                                                <div class="custom-file">

                                                    <input type="file"  class="custom-file-input" id="pp_photo" name="pp_photo" accept="image/png, image/jpg, image/jpeg" >
                                                    <label class="custom-file-label" id="pp-photo-name" for="pp-photo">Building photo</label>
                                                    <img style="width: 100px;
                                           height: 150px;
                                           position: relative;
                                           z-index: 2;
                                           margin-bottom: 10px;
                                           display:none;" id="blah" src="#" alt="Image preview" />

                                                    <script>
            function readURL(input) {
            if (input.files && input.files[0]) {
             var reader = new FileReader();

             reader.onload = function (e) {

                 document.getElementById('blah').style.display= 'block';
                 $('#blah').attr('src', e.target.result);

             }

             reader.readAsDataURL(input.files[0]);
            }
            }

            $("#pp_photo").change(function(){
            readURL(this);
            });
            </script>
                                                </div>
                                            </div>

                                            </div>
                                                <div class="form-group">

                                                    <a style="color: white; float:left;" onclick="back1()" type="button"  class="btn btn-primary" >Back
                                                    </a>
                                                    <a style="color: white;" onclick="continu2()" type="button" align="right" class="btn btn-primary float-right" >Continue
                                                    </a>
                                                </div>


                                        </fieldset>

                                        <fieldset id="sales_profile">

                                            <div class="form-card Personal">
                                                <h2 class="fs-title">Sales Profile</h2>

                                                <div class="basic form-group">
                                                    <label for="name">Possible sales <span class="required">*</span></label>
                                                    <input type="text" class="form-control" name="possible_sales" id="possible_sales"/>
                                                </div>

                                                <div class="basic form-group">
                                                    <label > Exsisting providers</label>
                                                    <textarea required="" type="text" class="form-control" id="exsistingProvider" name="exsistingProvider" placeholder="Exsisting providers" value=""> </textarea>
                                                </div>
                                                <div class="basic form-group">
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <label for="name">Number of customers with exsisting providers<span class="required">*</span></label><br>
                                                            <textarea class="form-control withinternet" id="withinternet" name="withinternet" rows="2" required> </textarea>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="basic form-group">
                                                    <label >Leading Provider</label>
                                                    <input required="" type="text" class="form-control" id="leadingprovider" name="leadingprovider" placeholder=" How many people use internet?" value="">
                                                </div>
                                                <div class="basic form-group">
                                                    <label > Lowest rent</label>
                                                    <input required="" type="text" class="form-control" id="lowestrent" name="lowestrent" placeholder="Average rent" value="">
                                                </div>
                                                <div class="basic form-group">
                                                    <label > Medium rent</label>
                                                    <input required="" type="text" class="form-control" id="mediumrent" name="mediumrent" placeholder="Average rent" value="">
                                                </div>
                                                <div class="basic form-group">
                                                    <label > Highest rent</label>
                                                    <input required="" type="text" class="form-control" id="highestrent" name="highestrent" placeholder="Average rent" value="">
                                                </div>
                                                <div class="basic form-group">
                                                    <div class="mb-3">
                                                        <input type="text" name="user_id" value="{{$user->id}}" hidden>
                                                        <label for="" class="form-label">Expected Income Class</label>
                                                        <select name="incomeclass" id="incomeclass" class="form-control">

                                                            <option value="Below 15,000">Below 15,000</option>
                                                            <option value="15,000 - 49,999">15,000 - 49,999</option>
                                                            <option value="50,000 - 99,999">50,000 - 99,999</option>
                                                            <option value="Above 100,000">Above 100,000</option>

                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="basic form-group">
                                                    <div class="mb-3">
                                                        <input type="text" name="user_id" value="{{$user->id}}" hidden>
                                                        <label for="" class="form-label">Target Plan</label>
                                                        <select name="targetplan" id="targetplan" class="form-control">
                                                            <option value="Nexcom Home Internet">Nexcom Home Internet</option>
                                                            <option value="Nexcom Business Internet">Nexcom Business Internet</option>
                                                            <option value="Nexcom WiFi">Nexcom WiFi</option>
                                                            <option value="Nexcom Enterprise">Nexcom Enterprise</option>
                                                            <option value="Nexcom IoT">Nexcom IoT</option>


                                                        </select>
                                                    </div>
                                                </div>





                                            </div>


                                            <div class="basic form-group">
                                          <a style="color: white;float:left;" onclick="back2()" type="button" align="right" class="btn btn-primary" >Back
                                                </a>
                                                <a style="color: white;" onclick="continu3()" type="button" align="right" class="btn btn-primary float-right" >Continue
                                                </a>
                                            </div>



                                        </fieldset>

                                        <fieldset id="attachmentreq">

                                            <div class="form-card Personal">
                                                <h2 class="fs-title">Contact Profile</h2>


                                                <div class="basic form-group">
                                                    <div class="mb-3">
                                                        <input type="text" name="user_id" value="{{$user->id}}" hidden>
                                                        <label for="" class="form-label">Management Type</label>
                                                        <select name="management_type" class="form-control">

                                                            <option value="Landlord">Landlord</option>
                                                            <option value="Management Agent">Management Agent</option>
                                                            <option value="Caretaker">Caretaker</option>
                                                            <option value="Developer">Developer</option>
                                                            <option value="Project Manager">Project Manager</option>
                                                            <option value="Others">Others</option>
                                                        </select>
                                                    </div>
                                                </div>
                                             <div class="basic form-group">
                                                <label > Full Names</label>
                                                <input required="" type="text" class="form-control" id="opt-name.0" name="full_names" placeholder="Full Names" value="">
                                            </div>       <div class="basic form-group">
                                                <label > Phone Number</label>
                                                <input required="" type="text" class="form-control" id="opt-email.0" name="phone_number" placeholder="Phone Number" value="">
                                            </div>        <div class="basic form-group">
                                                <label > Id Number</label>
                                                <input required="" type="number" class="form-control" id="opt-no.0" name="id_number" placeholder="Id Number" value="">
                                            </div>        <div class="basic form-group">
                                                <label for="email"> Email Address</label>
                                                <input required="" type="email" class="form-control" id="email" name="email" placeholder="Email Address" value="">
                                            </div>

                                                <div class="basic form-group">
                                                    <div class="mb-3">
                                                        <label for="" class="form-label">AccessRights Required</label>
                                                        <input type="radio" style="height:20px;" name="AccessRights" value="true" class="form-control"> True
                                                        <input type="radio" style="height:20px;" name="AccessRights" value="false" class="form-control"> False


                                                    </div>
                                                </div>

                                                <div class="basic form-group hidden" id="textbox" style="display: none">

                                                            <label for="backup_text">Access Right<span class="required">*</span></label><br>
                                                            <textarea class="form-control backup_text" id="AccessRights_text" name="AccessRights_text" rows="2" required> </textarea>

                                                </div>
                                                <script>
                                                    $(function() {
    $('input[name="AccessRights"]').on('click', function() {
        if ($(this).val() == 'true') {
            $('#textbox').show();
        }
        else {
            $('#textbox').hide();
        }
    });
});
                                                </script>
                                                <div class="basic form-group">

                                                    <label for="name">Right of Access Terms<span class="required"></span></label>
                                                    <div class="custom-file">
                                                        <input type="file"  class="custom-file-input" name="roa_document" id="roa_document" accept="application/pdf">
                                                        <label class="custom-file-label" id="edu-cert" for="roa">Right of Access Terms</label>

                                                        <script>

                                            $("#roa").change(function(){

            var file = $('#roa')[0].files[0].name;
            $("#roa").text(this.files[0].name);

                                            });
                                           </script>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="form-group">
                                                <div class="mb-3">
                                                    <input type="text" name="user_id" value="{{$user->id}}" hidden>
                                                    <label for="" class="form-label">Right of Access Status </label>
                                                    <select name="roa_status" class="form-control">


                                                        <option value="Signed">Signed</option>
                                                        <option value="Delivered">Delivered</option>
                                                        <option value="Pending">Pending</option>
                                                        <option value="Declined">Declined</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="mb-3">
                                                    <input type="text" name="user_id" value="{{$user->id}}" hidden>
                                                    <label for="" class="form-label">Access Status</label>
                                                    <select name="Access_Status" class="form-control">
                                                        <option value="Under consideration"> Under consideration</option>
                                                        <option value="Denied">Denied</option>
                                                        <option value="Accepted">Accepted</option>

                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <label for="name">Other terms<span class="required">*</span></label><br>
                                                        <textarea class="form-control " id="Other_terms" name="Other_terms" rows="2" required> </textarea>
                                                    </div>
                                                </div>

                                            </div>


                                          <a style="color: white;float:left;" onclick="back3()" type="button" class="btn btn-primary" >Back
                                            </a>
                                            <button style="color: white;" id="submit"  type="button" align="right" class="btn btn-primary float-right" >Continue
                                            </button>

                                          </form>


                                        </fieldset>

                                    </div>


                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

    </div>

        </div>

    </div>
</div>
<script th:inline="javascript">
    var basePath = /*[[${@environment.getProperty('url.portal.public')}]]*/
</script>
<script>


    $('#building_cluster').SumoSelect({search: true, searchText: 'Enter here.'});



function continu(){



    var opacity;

    current_fs = $('#basicreq');
        next_fs =$('#personalreq');


        next_fs.show();

        current_fs.animate({opacity: 0}, {
            step: function(now) {
                // for making fielset appear animation
                opacity = 1 - now;

                current_fs.css({
                    'display': 'none',
                    'position': 'relative'
                });
                next_fs.css({'opacity': opacity});
            },
            duration: 600
        });



}



function continu2(){


    var opacity;

    current_fs = $('#personalreq');
        next_fs =$('#sales_profile');

            curInputs =  current_fs.find("input[type='text'],input[type='url'],input[type='email'], input[type='number'], input[type='file']");
            isValid = true;
console.log(curInputs);
            for(var i=0; i<curInputs.length; i++){
              //  console.log(curInputs[i].value);
            if (!curInputs[i].value){
                isValid = false;
                $(curInputs[i]).closest(".form-group").addClass("has-error");
            //   console.log(curInputs[i].value);
            }
        }
        var text = $('textarea#building_description').val();
        if(!text){
          $('textarea#building_description').closest(".form-group").addClass("has-error");
           isValid = false;
        }
        if (isValid){


        next_fs.show();

        current_fs.animate({opacity: 0}, {
            step: function(now) {
                // for making fielset appear animation
                opacity = 1 - now;

                current_fs.css({
                    'display': 'none',
                    'position': 'relative'
                });
                next_fs.css({'opacity': opacity});
            },
            duration: 600
        });

}

}


function continu3(){



    var opacity;

    current_fs = $('#sales_profile');
        next_fs =$('#attachmentreq');


          curInputs =  current_fs.find("input[type='text'],input[type='url'],input[type='email'], input[type='number'], input[type='file']");
            isValid = true;
console.log(curInputs);
            for(var i=0; i<curInputs.length; i++){
              //  console.log(curInputs[i].value);
            if (!curInputs[i].value){
                isValid = false;
                $(curInputs[i]).closest(".form-group").addClass("has-error");
            //   console.log(curInputs[i].value);
            }
        }
        if (isValid){



        next_fs.show();

        current_fs.animate({opacity: 0}, {
            step: function(now) {
                // for making fielset appear animation
                opacity = 1 - now;

                current_fs.css({
                    'display': 'none',
                    'position': 'relative'
                });
                next_fs.css({'opacity': opacity});
            },
            duration: 600
        });

}

}
function back1(){



    var opacity;

    current_fs = $('#personalreq');
        next_fs = $('#basicreq');


        next_fs.show();

        current_fs.animate({opacity: 0}, {
            step: function(now) {
                // for making fielset appear animation
                opacity = 1 - now;

                current_fs.css({
                    'display': 'none',
                    'position': 'relative'
                });
                next_fs.css({'opacity': opacity});
            },
            duration: 600
        });



}



function back2(){



    var opacity;

    current_fs =$('#sales_profile');
        next_fs =$('#personalreq');


        next_fs.show();

        current_fs.animate({opacity: 0}, {
            step: function(now) {
                // for making fielset appear animation
                opacity = 1 - now;

                current_fs.css({
                    'display': 'none',
                    'position': 'relative'
                });
                next_fs.css({'opacity': opacity});
            },
            duration: 600
        });



}

function back3(){



    var opacity;

    current_fs =$('#attachmentreq');
        next_fs =$('#sales_profile');


        next_fs.show();

        current_fs.animate({opacity: 0}, {
            step: function(now) {
                // for making fielset appear animation
                opacity = 1 - now;

                current_fs.css({
                    'display': 'none',
                    'position': 'relative'
                });
                next_fs.css({'opacity': opacity});
            },
            duration: 600
        });



}

$('#region_select').change(function() {
    var vall = $(this).val();


// AJAX code to submit form.
$.ajax({
         type: "GET",
         url:  basePath + "admin/getzonesbyid/"+vall, //call  to store form data

         cache: false,
         success: function(data) {
             console.log(data);
             $('#zone_select').append("");
             var option = "<option> Select zone</option>";
             $.each(data, function(index, element) {
            option = option +
            '<option value="'+element.id+'">'+element.name+'</option>';

            $('#zone_select').html(option);
});




         },
         error: function(xhr)
         {
           console.log(xhr.responseText)
         },

    });

});

$('#zone_select').change(function() {
    var vall = $(this).val();


// AJAX code to submit form.
$.ajax({
         type: "GET",
         url: basePath + "admin/getareasbyid/"+vall, //call  to store form data

         cache: false,
         success: function(data) {
             console.log(data);
             $('#area_select').append("");
             var option = "<option> Select Area</option>";
             $.each(data, function(index, element) {
            option = option +
            '<option value="'+element.id+'">'+element.name+'</option>';

            $('#area_select').html(option);
});




         },
         error: function(xhr)
         {
           console.log(xhr.responseText)
         },

    });

});

$('#area_select').change(function() {
    var vall = $(this).val();


// AJAX code to submit form.
$.ajax({
         type: "GET",
         url: basePath + "admin/getclusterbyid/"+vall, //call  to store form data

         cache: false,
         success: function(data) {
             console.log(data);
             $('#cluster_select').append("");
             var option = "<option> Select Cluster</option>";
             $.each(data, function(index, element) {
            option = option +
            '<option value="'+element.id+'">'+element.name+'</option>';

            $('#cluster_select').html(option);
});




         },
         error: function(xhr)
         {
           console.log(xhr.responseText)
         },

    });

});

function appendUserRow(id, user) {
            var html = "<div id=\"opt-row." + id + "\" class=\"row\">\n" +


                  "     <div class=\"col-12\" style=\"text-align: right;padding: 10px;margin-right: 20px;\" >\n" +
                   "             <button type=\"button\" onclick=\"delRow(" + id + ")\" class=\"btn btn-danger\">Delete</button>\n" +

                     "        </div>" +

                "     <div class=\"col-12\">\n" +
                "   <div class=\"form-group\">\n" +
                "  <input required type=\"text\" class=\"form-control\" id=\"opt-type." + id + "\" name=\"opt-type." + id + "\" placeholder=\"Management Type\" value=\"" + user.type + "\">\n" +
                 "        </div>" +
                "  <div class=\"form-group\">\n" +
                "  <input required type=\"text\" class=\"form-control\" id=\"opt-name." + id + "\" name=\"opt-name." + id + "\" placeholder=\"Full Names\" value=\"" + user.name + "\">\n" +
                 "        </div>" +
                " <div class=\"form-group\">\n" +
                " <input required type=\"text\" class=\"form-control\" id=\"opt-email." + id + "\" name=\"opt-email." + id + "\" placeholder=\"Phone Number\" value=\"" + user.email + "\">\n" +
                "        </div>" +
                "  <div class=\"form-group\">\n" +
                "          <input required type=\"number\" class=\"form-control\" id=\"opt-no." + id + "\" name=\"opt-no." + id + "\" placeholder=\"Id Number\" value=\"" + user.no + "\">\n" +
               "        </div>" +
                "            </div>\n" +

                "        </div>";
            $("#form-placeholder").append(html);
        }

function delRow(id) {
            var element = document.getElementById("opt-row." + id);
            element.parentNode.removeChild(element);
        }

$(document).ready(function () {
            var count = 0;
$("#btn-add").click(function () {
                appendUserRow(count++, {
                    type: "",
                    name: "",
                    email: "",
                    no: ""
                })
            });
});



$(document).ready(function(e){
    // Submit form data via Ajax


       $('#submit').click(function(e) {

        e.preventDefault();

        current_fs =$('#attachmentreq');
           curInputs =  current_fs.find("input[type='text'],input[type='url'],input[type='email'], input[type='number'], input[type='file']");
            isValid = true;
console.log(curInputs);
            for(var i=0; i<curInputs.length; i++){
              //  console.log(curInputs[i].value);
            if (!curInputs[i].value){
                isValid = false;
                $(curInputs[i]).closest(".form-group").addClass("has-error");
            //   console.log(curInputs[i].value);
            }
        }
        if (isValid){



  var $form = $(this);



// AJAX code to submit form.
$.ajax({
         type: "POST",
         url: basePath + "admin/addbuilding", //call  to store form data.
           data: new FormData($('form[id=user_basic_per_form]')[0]),
         dataType: 'json',
            contentType: false,
            cache: false,
            processData:false,
         success: function(response) {
             console.log(response);


 if (response.success) {

    toastr.success(response.msg);



    $("#user_basic_per_form")[0].reset();


    var opacity;


        next_fs = $('#basicreq');
              current_fs =$('#attachmentreq');


        next_fs.show();

        current_fs.animate({opacity: 0}, {
            step: function(now) {
                // for making fielset appear animation
                opacity = 1 - now;

                current_fs.css({
                    'display': 'none',
                    'position': 'relative'
                });
                next_fs.css({'opacity': opacity});
            },
            duration: 600
        });

}
else{
toastr.error(response.msg);

<!--  $('#newPortalroles').modal('hide');-->
<!--    $("#rolesform")[0].reset();-->
}



      },
         error: function(xhr)
         {
           console.log(xhr.responseText)
         },

    });

}

  });

});












$('#use_type').change(function() {
    var vall = $(this).val();
 var option = "<option> Select Building Type</option>";
if(vall == "Residential"){


            option = option +
            '<option value="appartment">Appartment</option>'+
            '<option value="standalone">Stand Alone</option>'+
            '<option value="townhouse">Townhouse</option>';

}else if(vall == "Commercial"){

  option = option +
            '<option value="businesspack">Business Pack</option>'+
            '<option value="shopingmall">Shoping Mall</option>'+
            '<option value="officeblock">Offfice Blocks</option>';

}else if(vall == "mixeduse"){

  option = option +
            '<option value="appartment">Appartment</option>'+

            '<option value="townhouse">Townhouse</option>';

}else if(vall == "publicsector"){

  option = option +
            '<option value="appartment">Appartment</option>'+

            '<option value="townhouse">Townhouse</option>';

}
else if(vall == "other"){

  option = option +
            '<option value="appartment">Appartment</option>'+

            '<option value="townhouse">Townhouse</option>';

}


   $("#building_type").html("");
      $("#building_type").append(option);

});








                            </script>

<section th:replace="footer :: footer"></section>