<section th:replace="topbar :: topbar"></section>


<section th:replace="sidebar :: sidebar"></section>


<section th:replace="header :: header"></section>

</section>
<style>
          table{
            font-size: 14px;
        }
body{
    background-color: #dedede;
}
.customers-list{
            background-color: #ffffff;

        }
        hr{
            color: black;
        }
        #tab{
            background-color: #ffffff;
            padding-left: 10px;
            border-radius: 10px;

        }
        #tab p{
            text-align: center;
            padding-top: 13px;
            font-size: 14px;
            font-family: 'Courier New', Courier, monospace;
            font-weight: 600;

        }
        .display-6{
    background-color: #aeaeae;
    color: aliceblue;
    padding: 20px;
    font-size: 16px;
    font-weight: 700;
}
#rolediv{
         border-style: solid;
  border-color: black;
  height:150px;
  width:100px;
}

// css example
span {
  content: "\21CB";
}
.arrows{
  display:block;
  align-items:center;
  justify-content:center;

}

.role-btn{
width: 100px;
    height: 30px;
    margin-top:10px;


}
</style>

<div class="content">



  <!-- /Widgets -->
  <div class="container-fluid">
    <div class="row" id="tab">
      <p> Dashboard / Admin User</p>
    </div>
    <div class="row" >
      <hr>
    </div>



    <!-- row -->


        <div class="card">
          <div class="card-header">
            <h4 class="mb-0">Portal Users</h4>
            <button style="float: right;" class="btn btn-primary" data-toggle="modal" data-target="#newPortalUser" ><i class="fa fa -cog"></i>New User</button>


          </div>
          <div class="card-body">
            <div class="row">


              <div class="col-sm-12">
            <div class="table-responsive">
              <table class="table table-striped customers-list table-hover " id="admin_users">
                <thead>
                <tr>
                  <th>No</th>
                  <th>Name</th>
                  <th>Phone Number</th>
                  <th>Email</th>
                  <th>Date Created</th>
                   <th>Action</th>
                </tr>
                </thead>

                <tbody id="admin_table">


                </tbody>
              </table>
            </div>
          </div>
            </div>
          </div>
    </div>
    <!-- row -->



  </div>




  <div class="modal fade" id="newPortalUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Create new user</h5>

          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">


          <form id="portalform" >
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group row">
                  <label for="email" class="col-md-4 col-form-label text-md-right">Names</label>
                  <div class="col-md-6">
                    <input id="name" type="text" class="form-control" name="name"  required autofocus>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group row">
                  <label for="email" class="col-md-4 col-form-label text-md-right">E-Mail Address</label>
                  <div class="col-md-6">
                    <input id="email" type="email" class="form-control" name="email" required autocomplete="email" autofocus>

                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group row">
                  <label for="phone" class="col-md-4 col-form-label text-md-right">Phone Number</label>
                  <div class="col-md-6">
                    <input id="phone" type="number" class="form-control" name="phone_number"  required autofocus>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group row">
                  <label for="phone" class="col-md-4 col-form-label text-md-right">Password</label>
                  <div class="col-md-6">
                    <input id="password" type="text" class="form-control" name="password"  required autofocus>
                  </div>
                </div>
              </div>
            </div>







        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" id="userform">Save Category</button>
        </div>
        </form>
      </div>
    </div>
  </div>




  <script th:inline="javascript">
    var basePath = /*[[${@environment.getProperty('url.portal.public')}]]*/
</script>

<script>



function load_a_user(id) {
                    window.location = basePath  +"admin/getPortalUserById/" + id;
                };

                    FetchAdmins();

    function FetchAdmins() {


// AJAX code to submit form.
$.ajax({
         type: "get",
         url: basePath +  "admin/fetchadmins", //call  to store form data
         cache: false,
         success: function(data) {
            // console.log(data);

             var admin = "";
             var no = 0;

$.each(data, function(index, element) {

<!--  var user_role = "";-->

  no = no + 1;
<!--  $.each(data.roles, function(index, element1) {-->


<!--  $.each(element1.role, function(index, user_roles) {-->

<!--    user_role = user_role + user_roles + ',';-->

<!--});-->



<!--});-->




 admin = admin +
 '<tr  onclick="load_a_user('+element.id+' )" >'+
    '<td>'+ no +'</td>'+
                                    '<td>'+element.name+' </td>'+
                                    '<td> '+element.phone+' </td>'+

                                    '<td> '+element.email+'</td>'+
                                    '<td> '+element.createDateTime+'</td>'+
                                    '<td> '+'<a type="button" href="/admin/getPortalUserById/'+element.id+'" class="btn btn-secondary">View more</a>'+'</td>'+




                                                    '</tr>';



});





    if ($.fn.DataTable.isDataTable('#admin_users')){
           // Destroy existing table
           $('#admin_users').DataTable().destroy();
        };

        $('#admin_table').html(admin);
$('#admin_users').DataTable( {} );


         },
         error: function(xhr)
         {
           console.log(xhr.responseText)
         },

    });

};

               $(document).ready(function(){
                    $('#userform').click(function(e){
                        e.preventDefault();
                        let _token   = $('meta[name="csrf-token"]').attr('content');

                        $.ajax({
                            url: basePath +  "admin/portalUsers",
                            method: 'post',
                            data: {
                                _token: _token,
                                name: $('#name').val(),
                                email: $('#email').val(),
                                phone: $('#phone').val(),
                                 password: $('#password').val(),
                            },
                            success: function(response){
                                  console.log(response);


 if (response.success) {

    toastr.success(response.msg);
    $("#newPortalUser").modal('hide');
         $("#portalform")[0].reset();




}
else{
toastr.error(response.msg);

<!--  $('#newPortalroles').modal('hide');-->
<!--    $("#rolesform")[0].reset();-->
}


                              FetchAdmins();
                            },
                            error: function(response) {




           }
                        });
                    });
                });



                            </script>

<section th:replace="footer :: footer"></section>



