<section th:replace="topbar :: topbar"></section>


<section th:replace="sidebar :: sidebar"></section>


<section th:replace="header :: header"></section>

</section>
<style>
.customers-list{
            background-color: #ffffff;

        }
        hr{
            color: black;
        }
      #tab{
            background-color: #ffffff;
            padding-left: 10px;
            border-radius: 10px;

        }
        #tab p{
            text-align: center;
            padding-top: 13px;
            font-size: 14px;
            font-family: 'Courier New', Courier, monospace;
            font-weight: 600;

        }

        .display-6{
    background-color: #aeaeae;
    color: aliceblue;
    padding: 20px;
    font-size: 16px;
    font-weight: 700;
}
#rolediv{
         border-style: solid;
  border-color: black;
  height:150px;
  width:100px;
}

// css example
span {
  content: "\21CB";
}
.arrows{
  display:block;
  align-items:center;
  justify-content:center;

}

.role-btn{
width: 100px;
    height: 30px;
    margin-top:10px;


}
</style>

<div class="content">



    <!-- /Widgets -->
    <div class="container-fluid">
        <div class="row" id="tab">
            <p style="float: left;"> Dashboard</p>
        </div>
        <div class="row" >
            <hr>
        </div>


        <!-- row -->




        <div class="card">
            <div class="card-header">

                <button style="float: right;" class="btn btn-primary" data-toggle="modal" data-target="#newPortalroles" >New Role</button>


            </div>
            <div class="card-body">
                <div class="row">


                    <div class="col-sm-12">
                        <div class="table-responsive" >
                            <table class="table table-striped customers-list table-hover " id="modal_table">
                                <thead>
                                <tr>

                                    <th class="t_head">Name</th>
                                    <th class="t_head">Is Active</th>
                                    <th class="t_head">Edit Role Name </th>
                                    <th class="t_head">Manage Privelenges</th>
                                </tr>
                                </thead>
                                <tbody th:if="${roles != null}">

                                <tr  th:each="role : ${roles}">
                                    <td th:text="${role.getName}"></td>

<!--                                    <td>-->
<!--&lt;!&ndash;                                        <div th:each="role_name : ${role.role}" th:text="${role_name}"  ></div></td>&ndash;&gt;-->
                                    <td><div class="label text-success bg-success-light" th:text="${role.getName}" ></div></td>

                                    <td>
<!--                                        <button   th:href="@{|/admin/getPortalroleById/${role.id}|}" class="btn btn-primary">Edit Role</button>-->
                                        <button  th:attr="onclick=|editPortalroles(${role.getId()})|"   data-toggle="modal" data-target="#admin_role_edit_modal" class="btn btn-primary">Edit Role</button>
                                    </td>

                                    <td>  <button  class="btn btn-primary" th:attr="onclick=|Permissions(${role.getId()})|"  data-toggle="modal" data-target="#admin_priveleges_modal">Priveleges</button>

                                    </td>
                                </tr>

                                </tbody>
                                <tbody th:unless="${roles != null}">
                                <tr>
                                    <P>no roles yet</P>
                                </tr>


                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- row -->

    </div>


    <div class="modal fade" id="newPortalroles" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add User Roles</h5>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="rolesform">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group row">

                                    <div class="col-md-12">
                                        <input id="name" type="text" class="form-control" name="name"  required autofocus>
                                        <label for="name" class="col-md-12 col-form-label ">Names</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group row">

                                    <div class="col-md-12">
                                        <label  class="col-md-12 col-form-label ">Roles</label>


                                        <input type="checkbox" name="roles" value="orders"> Create new Acqusitions<br>
                                        <input type="checkbox" name="roles" value="products">View Acqusitions<br>
                                        <input type="checkbox" name="roles" value="deliveries">Edit Acqusitions<br>
                                        <input type="checkbox" name="roles" value="sms"> Manage Teritories<br>
                                        <input type="checkbox" name="roles" value="finance">Manage Users<br>
                                        <input type="checkbox" name="roles" value="customer_care">Manage Roles<br>


                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">

                                <div class="form-group row">

                                    <div class="col-md-12">
                                        <input id="description" type="text" class="form-control" name="description"  required autofocus>
                                        <label for="description" class="col-md-12 col-form-label ">Role Description</label>
                                    </div>
                                </div>
                            </div>
                        </div>



                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" id="portalroles">Save Role</button>
                </div>
                </form>
            </div>
        </div>
    </div>


    <div class="modal fade" id="admin_role_edit_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit Roles</h5>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <form>

                        <div id="edit_role_form">


                        </div>





                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <a type="submit" onclick="save_edit()" class="btn btn-primary" id="portalroles">Save Role</a>
                </div>
                </form>
            </div>
        </div>
    </div>


    <div class="modal fade" id="admin_priveleges_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add User Roles</h5>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="">

                    <form id="permissions_table">




                        <div class="row">


                            <div class="col-sm-12">

                                <table class="table table-striped customers-list " id="admin_permissions" style="width: 100%">
                                    <thead>
                                    <tr>
                                        <td class="t_head"> Check</td>
                                        <td class="t_head">Permissions</td>

                                    </tr>
                                    </thead>
                                    <tbody id="admin_permissions_table">
                                    <input type="text" id="role_id" hidden>
                                    <tr id="t_data">

                                        <td> <input type="checkbox" id="emails" name="edit_roles" value="orders"></td>
                                        <td> Create new Acqusitions</td>

                                    </tr>

                                    <tr id="t_data">

                                        <td> <input type="checkbox" id="emails" name="edit_roles" value="viewall"></td>
                                        <td>View Acqusitions</td>

                                    </tr>

                                    <tr id="t_data">

                                        <td> <input type="checkbox" id="tarrifs" name="edit_roles" value="recruitments"></td>
                                        <td>Edit Acqusitions</td>

                                    </tr>
                                    <tr id="t_data">

                                        <td> <input type="checkbox" id="connected_locations" name="edit_roles" value="roles" ></td>
                                        <td> Manage Teritories</td>

                                    </tr>
                                    <tr id="t_data">

                                        <td> <input type="checkbox" id="connected_locations" name="edit_roles" value="users"></td>
                                        <td>Manage Users</td>

                                    </tr>
                                    <tr id="t_data">

                                        <td> <input type="checkbox" id="connected_locations" name="edit_roles" value="regions"></td>
                                        <td>Manage Roles</td>

                                    </tr>

                                    <input type="text" id="roles_id" name="roles_id"  >


                                    </tbody>
                                </table>


                            </div>
                        </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <a type="button" class="btn btn-primary" onclick="addPermissions()">Save Role</a>
                </div>
                </form>
            </div>
        </div>
    </div>


</div>

<script th:inline="javascript">
    var basePath = /*[[${@environment.getProperty('url.portal.public')}]]*/
</script>

<script>


               $(document).ready(function(){
                    $('#portalroles').click(function(e){
                        e.preventDefault();
            var roles=[];
             $("input:checkbox[name=roles]:checked").each(function(){
                  roles.push($(this).val());
                  console.log("btn clicked");
               });
   console.log(roles);

                        $.ajax({
                            url: basePath +  "admin/portalRoles",
                            method: 'post',
                            data: {

                                name: $('#name').val(),
                                role: roles,
                                description: $('#description').val(),
                            },
                            success: function(response){
                            console.log(response);

 if (response.success) {

    toastr.success(response.msg);


  $('#newPortalroles').modal('hide');
    $("#rolesform")[0].reset();

}
else{
toastr.error(response.msg);

<!--  $('#newPortalroles').modal('hide');-->
<!--    $("#rolesform")[0].reset();-->
}

                            },
                            error: function(xhr) {
   console.log(xhr.responseText)


           }
                        });
                    });
                });





                function editPortalroles(id){
    console.log("get portal role id");

    var dataId = id;

    console.log(dataId);

    $.ajax({
    type: 'get',
    data:  dataId,
    url: basePath +  'admin/getPortalroleByid/'+dataId,
    success:
        function( data ){
           var t_data="";

           if(data.is_active == "yes"){
            var s_data=   '<option value="yes" selected>Yes</option>';

           }else
           {
            var s_data=   '<option value="no" selected>No</option>';
            }

           t_data=t_data+

                '<div class="row">'+
                   ' <div class="col-sm-6">'+
                       ' <div class="form-group">'+

    '  <label for="name" class=" ">Role Name</label>'+
                             '   <input type="text" class="form-control" id="edit_name" value="'+data.name+'" >'+
   '   <input  type="text" class="form-control" id="edit_id" value="'+data.id+'"  hidden>'+


                      '  </div>'+
                 '   </div>'+
                  '  <div class="col-sm-4">'+
                        '<div class="form-group">'+

                                            '<label  class="form-label">Is Active</label>'+
                                        '<select name="is_active" id="is_active" class="form-control">'+

                                          s_data+

                                        '</select>'+


                       ' </div>'+
                   ' </div>'+





                   ' </div>';
            $("#edit_role_form").html("");
             $("#edit_role_form").append(t_data);

        }
    });
};

function Permissions(id) {
    console.log("edit role");
    var dataId = id;

    $.ajax({
             type: "GET",
                url: basePath +  'admin/getPortalroleByid/'+dataId,
             cache: false,
             success: function(data) {

                document.getElementById('roles_id').value = data.id;


                var uncheck=document.getElementsByName('edit_roles');
 for(var i=0;i<uncheck.length;i++)
 {

  if(uncheck[i].type=='checkbox')
  {

   uncheck[i].checked=false;


  var permissions = [];
 permissions =data.role;
 console.log(uncheck[i].value);


 if( permissions.includes(uncheck[i].value)){
  uncheck[i].checked = true;
 }






  }

 }







             },

        });

};


function save_edit() {
    console.log("save Admin user");

    var id = document.getElementById('edit_id').value;
        var name = document.getElementById('edit_name').value;
            var is_active = document.getElementById('is_active').value;



        var formdata = 'edit_id=' + id + '&edit_name=' + name + '&is_active=' + is_active;
        // validate the form input
        console.log(formdata);


    // AJAX code to submit form.
    $.ajax({
             type: "POST",
             url: basePath +  "admin/role_edit", //call  to store form data
             data: formdata,
             cache: false,
             success: function(data) {
                 console.log(data);


		    	toastr.success(data);


          },
             error: function(xhr)
             {
               console.log(xhr.responseText)
             },

        });

    };


    function addPermissions() {
    console.log("save Admin user");

    var id = document.getElementById('roles_id').value;



       var roles=[];
             $("input:checkbox[name=edit_roles]:checked").each(function(){
                  roles.push($(this).val());
                  console.log("btn clicked");
               });
   console.log(roles);





        var formdata = 'id=' + id + '&data=' + roles;
        // validate the form input
        console.log(formdata);


    // AJAX code to submit form.
    $.ajax({
             type: "POST",
             url: basePath +  "admin/addPermissions", //call  to store form data
             data: formdata,
             cache: false,
             success: function(data) {
                 console.log(data);


		    	toastr.success(data);


          },
             error: function(xhr)
             {
               console.log(xhr.responseText)
             },

        });

    };


                            </script>


<section th:replace="footer :: footer"></section>
