<section th:replace="topbar :: topbar"></section>


<section th:replace="sidebar :: sidebar"></section>


<section th:replace="header :: header"></section>

</section>
<style>
          table{
            font-size: 14px;
        }
body{
    background-color: #dedede;
}
.customers-list{
            background-color: #ffffff;

        }
        hr{
            color: black;
        }
        #tab{
            background-color: #ffffff;
            padding-left: 10px;
            border-radius: 10px;

        }
        #tab p{
            text-align: center;
            padding-top: 13px;
            font-size: 14px;
            font-family: 'Courier New', Courier, monospace;
            font-weight: 600;

        }
        .display-6{
    background-color: #aeaeae;
    color: aliceblue;
    padding: 20px;
    font-size: 16px;
    font-weight: 700;
}
#rolediv{
         border-style: solid;
  border-color: black;
  height:150px;
  width:100px;
}

// css example
span {
  content: "\21CB";
}
.arrows{
  display:block;
  align-items:center;
  justify-content:center;

}

.role-btn{
width: 100px;
    height: 30px;
    margin-top:10px;


}
</style>

<div class="content">



  <!-- /Widgets -->
  <div class="container-fluid">
    <div class="row" id="tab">
      <p style="float: left;"> Dashboard</p>
    </div>
    <div class="row" >
      <hr>
    </div>



    <!-- row -->


        <div class="card">
          <div class="card-header">
            <h4 class="mb-0">Portal Users</h4>
            <button style="float: right;" class="btn btn-primary" data-toggle="modal" data-target="#newPortalUser" ><i class="fa fa -cog"></i>New User</button>


          </div>
          <div class="card-body">
            <div class="row">


              <div class="col-sm-12">
            <div class="table-responsive">
              <table class="table table-striped customers-list table-hover " id="modal_table">
                <thead>
                <tr>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Roles</th>
                  <th>Date Created</th>
                  <th>Created By</th>
                  <th>Action</th>
                </tr>
                </thead>

                <tbody>
                <tr  th:each="user : ${users}">
                  <td th:text="${user.name}">user name</td>
                  <td th:text="${user.email}">email</td>
                  <td><div class="label text-success bg-success-light">admin,super admin,user</div></td>
                  <td th:text="${user.createDateTime}"></tdth:text></td>
                  <td><div class="label text-success bg-success-light">james muchiri</div></td>
                  <td>
                  <a   th:attr="onclick=|portalUserById(${user.getId()})|"  data-toggle="modal" data-target="#editPortalUser" class="btn btn-primary">Edit</a>

                  </td>
                </tr>

                </tbody>
              </table>
            </div>
          </div>
            </div>
          </div>
    </div>
    <!-- row -->



  </div>




  <div class="modal fade" id="newPortalUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Create new user</h5>

          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">


          <form id="portalform" >

            <div class="form-group row">
              <label for="email" class="col-md-4 col-form-label text-md-right">Names</label>
              <div class="col-md-6">
                <input id="name" type="text" class="form-control" name="name"  required autofocus>
              </div>
            </div>

            <div class="form-group row">
              <label for="email" class="col-md-4 col-form-label text-md-right">E-Mail Address</label>
              <div class="col-md-6">
                <input id="email" type="email" class="form-control" name="email" required autocomplete="email" autofocus>

              </div>
            </div>
            <div class="form-group row">
              <label for="phone" class="col-md-4 col-form-label text-md-right">Phone Number</label>
              <div class="col-md-6">
                <input id="phone" type="text" class="form-control" name="phone_number"  required autofocus>
              </div>
            </div>


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" id="userform">Save Category</button>
        </div>
        </form>
      </div>
    </div>
  </div>



  <div class="modal fade" id="editPortalUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel1">Edit portal user</h5>

          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="modal_table1">


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" id="userform">Save Category</button>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>



<script>




               $(document).ready(function(){
                    $('#userform').click(function(e){
                        e.preventDefault();
                        let _token   = $('meta[name="csrf-token"]').attr('content');

                        $.ajax({
                            url: "/admin/portalUsers",
                            method: 'post',
                            data: {
                                _token: _token,
                                name: $('#name').val(),
                                email: $('#email').val(),
                                phone: $('#phone').val(),
                            },
                            success: function(data){
                                $('#success').show();
                                $('#success').text(data);
                                $("#portalform")[0].reset();

                                setTimeout(function() {


                                $('#success').hide();

                                }, 3000);
                            },
                            error: function(response) {

                                $('#error').show();
              $('#error').text(response.responseJSON.message);

           }
                        });
                    });
                });


                function portalUserById(id){
    console.log("get portal user id");

    var dataId = id;

    console.log(dataId);

    $.ajax({
    type: 'get',
    data:  dataId,
    url: '/admin/getPortalUserById/'+dataId,
    success:
        function( data ){
           var user = data.admi;
        console.log(user);
           var t_data="";

             var t_data_roles="";

                 $.each(data.roles, function(index, element) {

                 t_data_roles=t_data_roles+

                         ' <option value="1"> '+element.name+'</option>';


                   });

           t_data=t_data+
                '<form>'+
                '<div class="row">'+
                   ' <div class="col-sm-4">'+
                       ' <div class="form-group row">'+

                         '   <div class="col-md-12">'+
                             '   <input id="nam" type="text" class="form-control" name="name"  required value="'+user.name+'" autofocus>'+
                             '  <label for="emai" class="col-md-12 col-form-label ">Names</label>'+
                         '   </div>'+
                      '  </div>'+
                 '   </div>'+
                  '  <div class="col-sm-4">'+
                        '<div class="form-group row">'+

                            '<div class="col-md-12">'+
                             '   <input id="emai" type="email" class="form-control" name="email" value="'+user.email+'" required autocomplete="email" autofocus>'+
  '<label for="emai" class="col-md-12 col-form-label ">E-Mail Address</label>'+
                          '  </div>'+
                       ' </div>'+
                   ' </div>'+
                   ' <div class="col-sm-4">'+

                     '   <div class="form-group row">'+

                          '  <div class="col-md-12">'+
                            '    <input id="phon" type="text" class="form-control" name="phone_number" value="'+user.phone+'" required autofocus>'+
                             '   <label for="phon" class="col-md-12 col-form-label ">Phone Number</label>'+
                           ' </div>'+
                     '   </div>'+
                  '  </div>'+
             '   </div>'+

                   ' <div class="row">'+
                   ' <div class="col-sm-2" >'+
                   '   </div>'+
                     ' <div class="col-sm-3" >'+
                     '<p> user roles</p>'+
                       ' <select name="Testing" id="rolediv" multiple="multiple">   '+
                         ' <option value="1"> One  '+
                         ' <option value="2"> Two  '+
                         ' <option value="3"> Three'+
                        '</select>'+

                     '   </div>'+
                       '   <div class="col-sm-2 arrows">'+

                     '  <a href="#link"  class="btn btn-info role-btn" role="button">Add</a>'+
                       '<a href="#link" class="btn btn-info role-btn" role="button">Remove</a>'+

                     '   </div>'+
          '   <div class="col-sm-3">'+
                       '<p> available roles</p>'+
 '<select name="rolebyrole"  id="rolediv"  multiple="multiple">  '+
                       t_data_roles+
                        '</select>'+

                     '   </div>'+

                   ' </div>';



  $("#modal_table1").html("");
             $("#modal_table1").append(t_data);

        }
    });
};

                            </script>

<section th:replace="footer :: footer"></section>



