<section th:replace="topbar :: topbar"></section>


<section th:replace="sidebar :: sidebar"></section>


<section th:replace="header :: header"></section>

</section>
<style>
          table{
            font-size: 14px;
        }
body{
    background-color: #dedede;
}
.customers-list{
            background-color: #ffffff;

        }
        hr{
            color: black;
        }
        #tab{
            background-color: #ffffff;
            padding-left: 10px;
            border-radius: 10px;

        }
        #tab p{
            text-align: center;
            padding-top: 13px;
            font-size: 14px;
            font-family: 'Courier New', Courier, monospace;
            font-weight: 600;

        }

        .img-preview img{
        width: 100px;
       height: 150px;
       position: relative;
       z-index: 2;
       margin-bottom: 10px;
    margin-right: 10px;
        }
</style>

<div class="content">



  <!-- /Widgets -->
  <div class="container-fluid">
    <div class="row" id="tab">
      <p style="float: left;"> <a th:href="@{/admin/index}">Dashboard</a>/ <a  th:href="@{/admin/Teritories}" >Regions</a> / <a th:text="${regions.getName()}"  th:href="@{/admin/region/__${regions.getId()}__}" ></a> /  <a th:href="@{/admin/zone/__${zones.getId()}__}" th:text="${zones.getName()}"></a> /  <a th:text="${areas.getName()}"></a></p>
    </div>
    <div class="row" >
      <hr>
    </div>



    <div class="row justify-content-center mt-0">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">

            <h5 class="fs-title"> Edit Name</h5>

          </div>
          <div class="card-body">

            <div style="padding: 20px;">
              <form id="edit_name">
                <div id="area_input" >


                  <div class="form-group" >
                    <label for="editname">Edit Name</label>
                    <input type="text" class="form-control" id="editname" name="name" th:value="${areas.getName()}">
                  </div>

                  <input type="text" name="areaIdd" id="areaIdd"  hidden th:value="${areas.getId()}">
                </div>
                <button type="submit" class="btn btn-primary">Edit Name</button>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>



          <div class="row">
            <div class="col-sm-12">
              <div class="card">
                <div class="card-header">

                  <span class="main"> <u th:text="${areas.getName()}"></u>   Clusters</span>
                  <button style="float: right;" type="button" class="btn btn-primary" data-toggle="modal" data-target="#new_shedule">
                    Add new Cluster
                  </button>
                </div>
                <div class="card-body">

                  <div class="row">
                    <div class="col-sm-12">
                      <div class="table-responsive" >
                      <table class="table table-striped mt32 customers-list table-hover " id="modal_table">
                        <thead>
                        <tr>

                          <td class="t_head">Name</td>
                          <td class="t_head">Description</td>
                          <td class="t_head">Cluster Type</td>
                          <td class="t_head">Action</td>

                        </tr>
                        </thead>
                        <tbody id="myTable">


                        <tr id="t_dat" th:each="cluster : ${clusters}"   th:onclick="'window.location.href=\'/admin/cluster/' + ${cluster.getId()} + '\''">

                          <td th:text="${cluster.getName()}"> </td>

                          <td th:text="${cluster.getDescription()}"> </td>
                          <td th:text="${cluster.getClustertype()}"> </td>
                          <td>   <a type="button"   th:href="@{/admin/cluster/__${cluster.getId()}__}"  class="btn btn-success">Update</a></td>
                      </tr>



                        </tbody>
                      </table>
                      </div>
                    </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="new_shedule" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">New Cluster</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="cluster_form" enctype="multipart/form-data">

            <div class="basic form-group">
              <div class="mb-3">

                <label for="" class="form-label">Cluster Type</label>
                <select name="clustertype" id="clustertype" class="form-control">

                  <option value="Estate">Estate </option>
                  <option value="Court">Court</option>
                  <option value="Street">Street</option>
                  <option value="Other">Other</option>

                </select>
              </div>
            </div>
            <div class="form-group" id="clusterother" style="display:none;">
              <label >Cluster Type</label>
              <input type="text" class="form-control"  name="clusterother" aria-describedby="emailHelp">

            </div>

            <div class="form-group" id="region_input">
              <input type="text" class="form-control" id="areaId" name="areaId" th:value="${areas.getId()}"hidden>
              <label for="exampleInputEmail1">Cluster name</label>
              <input type="text" class="form-control" id="name" name="name" aria-describedby="emailHelp">

            </div>

            <div class="form-group" id="region_input">
              <label for="exampleInputEmail1">Description</label>
              <input type="text" class="form-control" id="description" name="description" aria-describedby="emailHelp">

            </div>
            <div class="basic form-group">
              <label for="pp_photo">Building photo<span class="required">*</span></label>
              <div class="custom-file">

                <input type="file"  class="custom-file-input" id="pp_photo" name="pp_photo[]" accept="image/png, image/jpg, image/jpeg" multiple max-uploads = 2>
                <label class="custom-file-label" id="pp-photo-name" for="pp-photo">Building photo</label>
                <div class="img-preview">

                </div>


                <script>
                 function readURL(input, placeit) {

        if (input.files) {
            var filesAmount = input.files.length;

            for (i = 0; i < filesAmount; i++) {
                var reader = new FileReader();

                reader.onload = function(event) {
                    $($.parseHTML('<img>')).attr('src', event.target.result).appendTo(placeit);
                }

                reader.readAsDataURL(input.files[i]);
            }
        }

    };
<!--            function readURL(input) {-->
<!--            if (input.files && input.files[0]) {-->
<!--             var reader = new FileReader();-->

<!--             reader.onload = function (e) {-->

<!--                 document.getElementById('blah').style.display= 'block';-->
<!--                 $('#blah').attr('src', e.target.result);-->

<!--             }-->

<!--             reader.readAsDataURL(input.files[0]);-->
<!--            }-->
<!--            }-->

<!--            $("#pp_photo").change(function(){-->
<!--            readURL(this, 'div.img-preview');-->
<!--        });-->

            $(function(){
      $("#pp_photo").change(function(){
         var filesAmount = this.files.length;

        if (filesAmount>2){
                document.getElementById("pp_photo").value = "";
                    alert("You can only upload a maximum of 2 images");
           return;
        }else{
        readURL(this, 'div.img-preview');
        }

    });
});
            </script>
              </div>
            </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <input type="text" name="_token" id="_token" value="{{csrf_token()}}" hidden>

          <button type="submit" class="btn btn-primary">Create Area</button>

          </form>
        </div>
      </div>
    </div>
  </div>


  <!-- Modal -->
  <div class="modal fade" id="update_region" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">Cluster Update</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div style="padding: 20px;">
            <form id="edit_cluster_name">
              <div id="area_input" >


                <div class="form-group" >
                  <label for="clustername">Cluster name</label>
                  <input type="text" class="form-control" id="clustername" name="name" aria-describedby="emailHelp">

                </div>

                <input type="text" name="clusterId" id="clusterId"  hidden>
              </div>



          </div>




        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Update</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <script th:inline="javascript">
    var basePath = /*[[${@environment.getProperty('url.portal.public')}]]*/
</script>

  <script>




            $(document).ready(function(e){
    // Submit form data via Ajax
    $("#cluster_form").on('submit', function(e){
        e.preventDefault();



        next_fs =$('#region_input');


curInputs =  next_fs.find("input[type='text']");
        isValid = true;
console.log(curInputs);
        for(var i=0; i<curInputs.length; i++){
          //  console.log(curInputs[i].value);
        if (!curInputs[i].value){

            isValid = false;
            $(curInputs[i]).closest(".form-group").addClass("has-error");
        //   console.log(curInputs[i].value);
        }
    }


if(isValid)
{


        $.ajax({
            type: 'POST',
            url: basePath + "admin/addcluster", //call  to store form data
            data: new FormData($(this)[0]),
            dataType: 'json',
            contentType: false,
            cache: false,
            processData:false,
            beforeSend: function(){
                $('.submitBtn').attr("disabled","disabled");
                $('#fupForm').css("opacity",".5");
            },
            success: function(response){ //console.log(response);
                    console.log(response);
                    console.log(response.msg);

 if (response.success) {

    toastr.success(response.msg);
    $('#new_shedule').modal('hide');
     $("#cluster_form")[0].reset();


}
else{
toastr.success(response.msg);
$('#new_shedule').modal('hide');
$("#cluster_form")[0].reset();
}




            },
            error: function(xhr)
         {
           console.log(xhr.responseText)
         },
        });
}
    });
});





      $(document).ready(function(e){
    // Submit form data via Ajax
    $("#edit_name").on('submit', function(e){
        e.preventDefault();






        $.ajax({
            type: 'POST',
            url:  basePath + "admin/editarea", //call  to store form data
            data: new FormData($(this)[0]),
            dataType: 'json',
            contentType: false,
            cache: false,
            processData:false,
            beforeSend: function(){
                $('.submitBtn').attr("disabled","disabled");
                $('#fupForm').css("opacity",".5");
            },
            success: function(response){ //console.log(response);
                       console.log(response);
                    console.log(response.msg);

 if (response.success) {

    toastr.success(response.msg);

     document.getElementById('editname').value = response.area;


}
else{
toastr.success(response.msg);

}



            },
            error: function(xhr)
         {
           console.log(xhr.responseText)
         },
        });

    });
});



function updatecluster(data){


    console.log(data);

    $.ajax({
            type: 'GET',
            url: basePath + "admin/updatecluster/"+ data, //call  to store form data


            cache: false,

            success: function(response){ //console.log(response);
                    console.log(response);

                document.getElementById('clustername').value = response.name;




                    document.getElementById('clusterId').value = response.id;





            },
            error: function(xhr)
         {
           console.log(xhr.responseText)
         },
        });
}



      $(document).ready(function(e){
    // Submit form data via Ajax
    $("#edit_cluster_name").on('submit', function(e){
        e.preventDefault();






        $.ajax({
            type: 'POST',
            url: basePath + "admin/editcluster", //call  to store form data
            data: new FormData($(this)[0]),
            dataType: 'json',
            contentType: false,
            cache: false,
            processData:false,
            beforeSend: function(){
                $('.submitBtn').attr("disabled","disabled");
                $('#fupForm').css("opacity",".5");
            },
            success: function(response){ //console.log(response);
                    console.log(response);
                    console.log(response.msg);

 if (response.success) {

    toastr.success(response.msg);
    $('#update_region').modal('hide');


}
else{
toastr.success(response.msg);
$('#update_region').modal('hide');
}







            },
            error: function(xhr)
         {
           console.log(xhr.responseText)
         },
        });

    });
});


$('#clustertype').change(function() {
    var vall = $(this).val();
if(vall == "Other"){
  document.getElementById('clusterother').style.display= "block";
}
else{
  document.getElementById('clusterother').style.display= "none";
}



});

</script>
</div>


<section th:replace="footer :: footer"></section>


