<section th:replace="topbar :: topbar"></section>


<section th:replace="sidebar :: sidebar"></section>


<section th:replace="header :: header"></section>

</section>
<style>
          table{
            font-size: 14px;
        }
body{
    background-color: #dedede;
}
.customers-list{
            background-color: #ffffff;

        }
        hr{
            color: black;
        }
        #tab{
            background-color: #ffffff;
            padding-left: 10px;
            border-radius: 10px;

        }
        #tab p{
            text-align: center;
            padding-top: 13px;
            font-size: 14px;
            font-family: 'Courier New', Courier, monospace;
            font-weight: 600;

        }
</style>

<div class="content">



    <!-- /Widgets -->
    <div class="container-fluid">
        <div class="row" id="tab">
            <p style="float: left;"> Dashboard</p>
        </div>
        <div class="row" >
            <hr>
        </div>


        <div class="row">
            <div class="col-sm-12">

                <div class="card">
                    <div class="card-body">
                        <ul class="nav nav-tabs">
                            <li class="nav-item active"><a  class="nav-link" href="#tab1" data-toggle="tab">User Details</a></li>
                            <li class="nav-item "><a class="nav-link" href="#tab2" data-toggle="tab">User Rights</a></li>
                            <li class="nav-item "><a  class="nav-link" href="#tab3" data-toggle="tab">Login Logs</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab1">
                                <span class="main">User Details </span>
                                <div class="row" id="adminp">
                                    <div class="col-sm-4">
                                        <label>First Name</label>
                                        <p th:text="${admin_user.getName()}" ></p>

                                    </div>
                                    <div class="col-sm-4">

                                        <label>Email</label>
                                        <p th:text="${admin_user.getEmail()}" ></p>
                                    </div>

                                    <div class="col-sm-4">

                                        <label>Phone</label>
                                        <p th:text="${admin_user.getPhone()}" ></p>
                                    </div>

                                    <div class="col-sm-4">

                                        <label>Last Login</label>
                                        <p th:text="${admin_user.getEmail()}" ></p>
                                    </div>

                                    <div class="col-sm-4">

                                        <label>Is Active</label>
                                        <p th:text="${admin_user.getEmail()}" ></p>
                                    </div>

                                    <div class="col-sm-4">

                                        <label>Date Created</label>
                                        <p th:text="${admin_user.getEmail()}" ></p>
                                    </div>
                                </div>

                            </div>
                            <div class="tab-pane" id="tab2">
                          <div class="row">
                              <div class="col-sm-12">
                                  <span class="main">User Rights</span>
                                  <table class="table table-striped mt32 customers-list" >
                                      <thead>
                                      <tr>

                                          <td class="t_head">Select</td>
                                          <td class="t_head">Role Name</td>

                                      </thead>
                                      <tbody id="myTable">
                                      <input type="text" name="user_by_id" id="user_by_id" th:value="${admin_user.getEmail()}" hidden>

                                      <tr  th:each="role : ${roles}" >

                                    <td>  <input type="checkbox" th:attr="onclick=|addrole(${role.getId()}, ${admin_user.getId()})|" th:checked="${#arrays.contains(aList, '__${role.getName}__')}" th:value="${role.getName}">
                                      </td>
<!--                                          ${#lists.contains(alist, __${role.getName}__)}-->





                                          <td><label for="" th:text="${role.getName}"></label>  </td>
                                      </tr>


                                      </tbody>
                                  </table>
                              </div>
                          </div>
                            </div>
                            <div class="tab-pane" id="tab3">
                                <div class="row">
                                    <span class="main">Login Logs </span>
                                    <div class="col-sm-12">
                                        <table class="table  mt32 customers-list" >
                                            <thead>
                                            <tr>

                                                <td class="t_head">Date</td>
                                                <td class="t_head">Username</td>
                                                <td class="t_head">Response</td>

                                            </thead>
                                            <tbody id="myTable">


                                            <tr  th:each="login_log : ${login_logs}" >

                                                <td th:text="${login_log.getCreateDateTime}"></td>
                                                <td th:text="${admin_user.getEmail()}"></td>
                                                <td th:text="${login_log.getResponse}"></td>





                                            </tr>


                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

            </div>
        </div>

            </div>











    </div>
</div>

<script>
function addrole(roleid, userid){


   var formdata = 'roleid=' + roleid + '&userid=' + userid;
                // validate the form input
                console.log(formdata);
	    $.ajax({
            type: 'POST',
            url: "/admin/useraddrole" , //call  to store form data
        data: formdata,


            cache: false,
            processData:false,

            success: function(response){ //console.log(response);
                       console.log(response);
                    console.log(response.msg);

 if (response.success) {

    toastr.success(response.msg);

     document.getElementById('editname').value = response.area;


}
else{
toastr.success(response.msg);

}



            },
            error: function(xhr)
         {
           console.log(xhr.responseText)
         },
        });

}

</script>
<section th:replace="footer :: footer"></section>
