<section th:replace="topbar :: topbar"></section>


<section th:replace="sidebar :: sidebar"></section>


<section th:replace="header :: header"></section>

</section>
<style>
          table{
            font-size: 14px;
        }
body{
    background-color: #dedede;
}
.customers-list{
            background-color: #ffffff;

        }
        hr{
            color: black;
        }
        #tab{
            background-color: #ffffff;
            padding-left: 10px;
            border-radius: 10px;

        }
        #tab p{
            text-align: center;
            padding-top: 13px;
            font-size: 14px;
            font-family: 'Courier New', Courier, monospace;
            font-weight: 600;

        }

        .btn-theme {
    background: #3e007c;
    border-bottom: 5px solid #f1bd06;
}

.ctm-border-radius {
    border-radius: 10px;
}
</style>

<div class="content">



    <!-- /Widgets -->
    <div class="container-fluid">
        <div class="row" id="tab">
            <p style="float: left;"> Dashboard</p>
        </div>
        <div class="row" >
            <hr>
        </div>


        <div class="row">
            <div class="col-sm-12">

                <div class="card">
                    <div class="card-body">
                        <ul class="nav nav-tabs">
                            <li class="nav-item active"><a  class="nav-link" href="#tab1" data-toggle="tab">Building Profile</a></li>
                            <li class="nav-item "><a class="nav-link" href="#tab2" data-toggle="tab">Contact Profile</a></li>
                            <li class="nav-item "><a  class="nav-link" href="#tab3" data-toggle="tab">Location Profile</a></li>
                            <li class="nav-item "><a  class="nav-link" href="#tab4" data-toggle="tab">Building Images</a></li>
                            <li class="nav-item "><a  class="nav-link" href="#tab5" data-toggle="tab">Sales Profile</a></li>
                            <li class="nav-item "><a  class="nav-link" href="#tab6" data-toggle="tab">Access Rights</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab1">

                                <div class="row" id="adminp">
                                    <div class="col-xl-12 col-lg-12 col-md-12">
                                        <span class="main">Building Profile</span>
                                    <button  style="float: right;" class="btn btn-primary" data-toggle="modal" data-target="#edit_basicInformation"><i class="fa fa-pencil" aria-hidden="true"></i> Edit profile</button>
                                    </div>
                                    <div class="col-xl-4 col-lg-12 col-md-4">
                                        <label class="font-weight-bold">Building Name</label>
                                                <p class="card-text mb-3"><span th:text="${buildings.getBuilding_name()}"></span></p>
                                    </div>
                                    <div class="col-xl-4 col-lg-12 col-md-4">
                                        <label class="font-weight-bold">Building Description</label>
                                                <p class="card-text mb-3"> <span th:text="${buildings.getBuilding_description()}"></span></p>
                                    </div>
                                    <div class="col-xl-4 col-lg-12 col-md-4">
                                        <label class="font-weight-bold">Building Type</label>
                                                <p class="card-text mb-3"><span th:text="${buildings.getBuilding_type()}"></span></p>
                                    </div>
                                    <div class="col-xl-4 col-lg-12 col-md-4">
                                        <label class="font-weight-bold">Building Code</label>
                                                <p class="card-text mb-3"> <span th:text="${buildings.getBuilding_code()}"></span> </p>
                                    </div>

                                    <div class="col-xl-4 col-lg-12 col-md-4">
                                        <label class="font-weight-bold">Acquisition Purpose</label>
                                        <p class="card-text mb-3">     <span th:text="${buildings.getAcquisitionPurpose()}"></span></p>
                                    </div>
                                    <div class="col-xl-4 col-lg-12 col-md-4">
                                        <label class="font-weight-bold">Building Use Type</label>
                                        <p class="card-text mb-3">   <span th:text="${buildings.getUse_type()}"></span></p>
                                    </div>
                                    <div class="col-xl-4 col-lg-12 col-md-4">
                                        <label class="font-weight-bold">Building State</label>
                                        <p class="card-text mb-3">      <span th:text="${buildings.getBuilding_state()}"></span></p>
                                    </div>
                                    <div class="col-xl-4 col-lg-12 col-md-4">
                                        <label class="font-weight-bold">Building Power Source</label>
                                        <p class="card-text mb-3">   <span th:text="${buildings.getPower()}"></span></p>
                                    </div>
                                    <div class="col-xl-4 col-lg-12 col-md-4">
                                        <label class="font-weight-bold">Building Power Backup</label>
                                        <p class="card-text mb-3">     <span th:text="${buildings.getBackup()}"></span></p>
                                    </div>
                                    <div class="col-xl-4 col-lg-12 col-md-4">
                                        <label class="font-weight-bold">Building Power Backup Type</label>
                                        <p class="card-text mb-3">    <span th:text="${buildings.getBackup_text()}"></span></p>
                                    </div>

                                    <div class="col-xl-4 col-lg-12 col-md-4">
                                        <label class="font-weight-bold">Number of Units</label>
                                        <p class="card-text mb-3">    <span th:text="${buildings.getNumberofUnits()}"></span></p>
                                    </div>
                                    <div class="col-xl-4 col-lg-12 col-md-4">
                                        <label class="font-weight-bold">Number of Blocks</label>
                                        <p class="card-text mb-3">    <span th:text="${buildings.getBlocks()}"></span></p>
                                    </div>
                                    <div class="col-xl-4 col-lg-12 col-md-4">
                                        <label class="font-weight-bold">Number of Floors</label>
                                        <p class="card-text mb-3">    <span th:text="${buildings.getFloors()}"></span></p>
                                    </div>
                                    <div class="col-xl-4 col-lg-12 col-md-4">
                                        <label class="font-weight-bold">Security Availability</label>
                                        <p class="card-text mb-3">   <span th:text="${buildings.getSecurity()}"></span></p>
                                    </div>
                                    <div class="col-xl-4 col-lg-12 col-md-4">
                                        <label class="font-weight-bold">Street_name</label>
                                        <p class="card-text mb-3">    <span th:text="${buildings.getStreet_name()}"></span></p>
                                    </div>

                                    <div class="col-xl-4 col-lg-12 col-md-4">
                                        <label class="font-weight-bold">Acquisition Date</label>
                                        <p class="card-text mb-3">    <span th:text="${buildings.getCreateDateTime()}"></span></p>
                                    </div>

                                </div>

                            </div>
                            <div class="tab-pane" id="tab2">

                                <div class="row">
                                    <div class="col-xl-12 col-lg-12 col-md-12">
                                        <span class="main">Contact Profile</span>
                                        <button href="javascript:void(0)" style="float: right;" class="btn btn-primary" data-toggle="modal" data-target="#add_Contact"><i class="fa fa-plus" aria-hidden="true"></i> New Contact</button>
</div>


                                                <div class="col-sm-4 text-center" th:each="contact, iterStat : ${contacts}" >
                                                    <h5 class="card-title mb-0" th:text="${iterStat.count}" ></h5>
                                                    <p class="card-text mb-3"><span class="text-primary">Management Type : </span> <b th:text="${contact.getManagement_type()}"></b></p>
                                                    <p class="card-text mb-3"><span class="text-primary">Full Names : </span> <b th:text="${contact.getFull_names()}"></b></p>
                                                    <p class="card-text mb-3"><span class="text-primary">Phone Number : </span><b th:text="${contact.getPhone_number()}"></b></p>
                                                    <p class="card-text mb-3"><span class="text-primary">Id Number : </span><b th:text="${contact.getId_number()}"></b></p>

                                                    <button th:attr="onclick=|fetchcontact('${contact.getId()}')|" href="javascript:void(0)"  class="btn btn-primary"  data-toggle="modal" data-target="#edit_Contact"><i class="fa fa-pencil" aria-hidden="true"></i> edit contact</button>


                                                </div>




                                </div>
                            </div>
                            <div class="tab-pane" id="tab3">
                                <div class="row">


                                        <div class="col-xl-12 col-lg-12 col-md-12">
                                        <div class="row">
                                            <div class="col-xl-12 col-lg-12 col-md-12">
                                                <span class="main">Building Location </span>
                                            </div>
                                            <div class="col-xl-4 col-lg-4 col-md-4 ">
                                                <label class="font-weight-bold">Region</label>
                                                <p class="card-text mb-3">      <span th:text="${region.getName()}"></span></p>
                                            </div>

                                            <div class="col-xl-4 col-lg-4 col-md-4">
                                                <label class="font-weight-bold">Zone</label>
                                                <p class="card-text mb-3">    <span th:text="${zone.getName()}"></span></p>
                                                </div>

                                                <div class="col-xl-4 col-lg-4 col-md-4">
                                                    <label class="font-weight-bold">Area</label>
                                                    <p class="card-text mb-3">     <span th:text="${area.getName()}"></span></p>
                                                    </div>

                                                    <div class="col-xl-4 col-lg-4 col-md-4">
                                                        <label class="font-weight-bold">Cluster</label>
                                                        <p class="card-text mb-3">   <span th:text="${cluster.getName()}"></span></p>

                                                  </div>


                                        </div>

                                    </div>

                                </div>
                            </div>
                            <div class="tab-pane" id="tab4">
                                <div class="row">

                                    <div class="col-xl-12 col-lg-12 col-md-12">
                                        <div class="row">

                                            <div class="col-xl-12 col-lg-12 col-md-12">
                                                <span class="main">Building Images </span>
                                              <button  style="float: right;" class="btn btn-primary" data-toggle="modal" data-target="#add_images"><i class="fa fa-pencil" aria-hidden="true"></i> New Image</button>

                                            </div>
                                            <div class="col-xl-12 col-lg-6 col-md-6 d-flex">

                                                        <div class="row">
                                                            <div class="col-sm-4  text-center" th:each="image : ${images}">
                                                                <button th:attr="onclick=|deleteimage('${image.getId()}')|"  class="btn btn-primary"><i class="fa fa-times" aria-hidden="true"></i> delete</button>

                                                                <img style="height: 250px;width: 320px;" th:src="@{/upload/{i}(i=${image.getName()})}" alt="Building image">
                                                            </div>

                                                        </div>

                                            </div>

                                        </div>

                                    </div>
                        </div>
                    </div>

                            <div class="tab-pane" id="tab5">
                                <div class="row">


                                    <div class="col-xl-12 col-lg-12 col-md-12">
                                        <div class="row">
                                            <div class="col-xl-12 col-lg-12 col-md-12">
                                                <span class="main">Sales Profile </span>
                                            </div>
                                            <div class="col-xl-4 col-lg-12 col-md-4">
                                                <label class="font-weight-bold">Possible Sales</label>
                                                <p class="card-text mb-3">     <span th:text="${sales_profiles.getPossible_sales()}"></span></p>
                                            </div>

                                            <div class="col-xl-4 col-lg-12 col-md-4">
                                                <label class="font-weight-bold">Exsisting Provider</label>
                                                <p class="card-text mb-3">  <span th:text="${sales_profiles.getExsistingProvider()}"></span></p>
                                            </div>
                                            <div class="col-xl-4 col-lg-12 col-md-4">
                                                <label class="font-weight-bold" >Customers With Internet</label>
                                                <p class="card-text mb-3">  <span th:text="${sales_profiles.getWithinternet()}"></span></p>
                                            </div>
                                            <div class="col-xl-4 col-lg-12 col-md-4">
                                                <label class="font-weight-bold">Leading Iternet Provider</label>
                                                <p class="card-text mb-3">  <span th:text="${sales_profiles.getLeadingprovider()}"></span></p>
                                            </div>

                                            <div class="col-xl-4 col-lg-12 col-md-4">
                                                <label class="font-weight-bold">Lowest Rent </label>
                                                <p class="card-text mb-3">   <span th:text="${sales_profiles.getLowestrent()}"></span></p>
                                            </div>
                                            <div class="col-xl-4 col-lg-12 col-md-4">
                                                <label class="font-weight-bold">Highest Rent </label>
                                                <p class="card-text mb-3">  <span th:text="${sales_profiles.getHighestrent()}"></span></p>
                                            </div>
                                            <div class="col-xl-4 col-lg-12 col-md-4">
                                                <label class="font-weight-bold">Clients Income Class </label>
                                                <p class="card-text mb-3"> <span th:text="${sales_profiles.getIncomeclass()}"></span></p>
                                            </div>
                                            <div class="col-xl-4 col-lg-12 col-md-4">
                                                <label class="font-weight-bold">Target Plan </label>
                                               <p class="card-text mb-3"> <span th:text="${sales_profiles.getTargetplan()}"></span></p>
                                            </div>




                                        </div>

                                    </div>

                                </div>
                            </div>
                            <div class="tab-pane" id="tab6">
                                <div class="row">


                                    <div class="col-xl-12 col-lg-12 col-md-12">
                                        <div class="row">
                                            <div class="col-xl-12 col-lg-12 col-md-12">
                                                <span class="main">Access Rights </span>
                                                <button  style="float: right;" class="btn btn-primary" data-toggle="modal" data-target="#edit_accessright"><i class="fa fa-pencil" aria-hidden="true"></i> Edit profile</button>

                                            </div>
                                            <div class="col-xl-4 col-lg-4 col-md-4 ">
                                                <label class="font-weight-bold">Access Rights</label>
                                                <p class="card-text mb-3">      <span th:text="${access_right_profile.getAccessRights()}"></span></p>
                                            </div>

                                            <div class="col-xl-4 col-lg-4 col-md-4 ">
                                                <label class="font-weight-bold">Access Rights   Terms</label>
                                                <p class="card-text mb-3">      <span th:text="${access_right_profile.getAccessRights_text()}"></span></p>
                                            </div>

                                            <div class="col-xl-4 col-lg-4 col-md-4 ">
                                                <label class="font-weight-bold">Rights of access</label>
                                                <p class="card-text mb-3">      <span th:text="${access_right_profile.getRoa()}"></span></p>
                                            </div>
                                            <div class="col-xl-4 col-lg-4 col-md-4 ">
                                                <label class="font-weight-bold">Rights of access</label>
                                                <p class="card-text mb-3">      <span th:text="${access_right_profile.getRoa()}"></span></p>
                                            </div>
                                            <div class="col-xl-4 col-lg-4 col-md-4 ">
                                                <label class="font-weight-bold">Access Status</label>
                                                <p class="card-text mb-3">      <span th:text="${access_right_profile.getAccess_Status()}"></span></p>
                                            </div>
                                            <div class="col-xl-4 col-lg-4 col-md-4 ">
                                                <label class="font-weight-bold">Other Terms</label>
                                                <p class="card-text mb-3">      <span th:text="${access_right_profile.getOther_terms()}"></span></p>
                                            </div>




                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>



    </div>






    <div class="modal fade" id="edit_basicInformation">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title mb-3">Edit Basic Information</h4>
                    <form id="edit_building">


                        <div class="row">
                            <div class="col-xl-4 col-lg-4 col-md-4 ">
                    <div class="form-group">
                        <label for="name">Building name <span class="required">*</span></label>
                        <input type="text" class="form-control"  name="building_name" th:value="${buildings.getBuilding_name()}" />
                    </div>


                        </div>


                        <div class="col-xl-4 col-lg-4 col-md-4 ">
                            <div class="basic form-group">
                                <div class="mb-3">

                                    <label for="" class="form-label">Acquisition Purpose</label>
                                    <select name="acquisitionPurpose" id="acquisitionPurpose" class="form-control">
                                        <option value="Infrastructure" th:selected="(${buildings.getAcquisitionPurpose()} == 'Infrastructure')"  >Infrastructure Only</option>
                                        <option value="Infrastructure&Customers" th:selected="(${buildings.getAcquisitionPurpose()} == 'Infrastructure&Customers')" >Infrastructure & Customers</option>
                                        <option value="Customers"  th:selected="(${buildings.getAcquisitionPurpose()} == 'Customers')"  >Customers Only</option>
                                    </select>
                                </div>
                            </div>

                        </div>


                            <div class="col-xl-4 col-lg-4 col-md-4 ">
                                <div class="basic form-group">
                                    <div class="mb-3">

                                        <label for="" class="form-label">Building Use Type</label>
                                        <select name="use_type" id="use_type" class="form-control">

                                            <option value="Residential" th:selected="(${buildings.getUse_type()} == 'Residential')">Residential</option>
                                            <option value="Commercial" th:selected="(${buildings.getUse_type()} == 'Commerciale')">Commercial</option>
                                            <option value="mixeduse" th:selected="(${buildings.getUse_type()} == 'mixeduse')">Mixed Use</option>
                                            <option value="publicsector" th:selected="(${buildings.getUse_type()} == 'publicsectorother')">Public Sector</option>
                                            <option value="other" th:selected="(${buildings.getUse_type()} == 'other')">Other</option>
                                        </select>
                                    </div>
                                </div>

                            </div>


                            <div class="col-xl-4 col-lg-4 col-md-4 ">
                                <div class="basic form-group">
                                    <div class="mb-3">

                                        <label for="" class="form-label">Building Type</label>
                                        <select name="building_type" id="building_type" class="form-control">
                                            <option> Select Building Type</option>
                                        </select>
                                    </div>
                                </div>

                            </div>

<script>




$('#use_type').change(function() {
    var vall = $(this).val();
 var option = "<option> Select Building Type</option>";
if(vall == "Residential"){


            option = option +
            '<option value="appartment">Appartment</option>'+
            '<option value="standalone">Stand Alone</option>'+
            '<option value="townhouse">Townhouse</option>';

}else if(vall == "Commercial"){

  option = option +
            '<option value="businesspack">Business Pack</option>'+
            '<option value="shopingmall">Shoping Mall</option>'+
            '<option value="officeblock">Offfice Blocks</option>';

}else if(vall == "mixeduse"){

  option = option +
            '<option value="appartment">Appartment</option>'+

            '<option value="townhouse">Townhouse</option>';

}else if(vall == "publicsector"){

  option = option +
            '<option value="appartment">Appartment</option>'+

            '<option value="townhouse">Townhouse</option>';

}
else if(vall == "other"){

  option = option +
            '<option value="appartment">Appartment</option>'+

            '<option value="townhouse">Townhouse</option>';

}


   $("#building_type").html("");
      $("#building_type").append(option);

});

use_type();
function use_type(){


  var element = document.getElementById(use_type).value;
 var option = "<option> Select Building Type</option>";
if(vall == "Residential"){


            option = option +
            '<option value="appartment">Appartment</option>'+
            '<option value="standalone">Stand Alone</option>'+
            '<option value="townhouse">Townhouse</option>';

}else if(vall == "Commercial"){

  option = option +
            '<option value="businesspack">Business Pack</option>'+
            '<option value="shopingmall">Shoping Mall</option>'+
            '<option value="officeblock">Offfice Blocks</option>';

}else if(vall == "mixeduse"){

  option = option +
            '<option value="appartment">Appartment</option>'+

            '<option value="townhouse">Townhouse</option>';

}else if(vall == "publicsector"){

  option = option +
            '<option value="appartment">Appartment</option>'+

            '<option value="townhouse">Townhouse</option>';

}
else if(vall == "other"){

  option = option +
            '<option value="appartment">Appartment</option>'+

            '<option value="townhouse">Townhouse</option>';

}


   $("#building_type").html("");
      $("#building_type").append(option);

}
</script>
                            <div class="col-xl-4 col-lg-4 col-md-4 ">
                                <div class="basic form-group">
                                    <div class="mb-3">

                                        <label for="" class="form-label">Building State</label>
                                        <select name="building_state" id="building_state" class="form-control">
                                            <option value="Occupied" th:selected="(${buildings.getBuilding_state()} == 'Occupied')"> Occupied</option>
                                            <option value="Under Construction" th:selected="(${buildings.getBuilding_state()} == 'Under Constructionother')">Under Construction</option>
                                            <option value="Unoccupied" th:selected="(${buildings.getBuilding_state()} == 'Unoccupied')">Unoccupied</option>

                                        </select>
                                    </div>
                                </div>

                            </div>


                            <div class="col-xl-4 col-lg-4 col-md-4 ">
                                <div class="basic form-group">
                                    <div class="mb-3">
                                        <label for="" class="form-label">Backup Power Availability</label>
                                        <input style="height:20px;" type="radio" name="backup" value="true"class="form-control" th:checked="(${buildings.getBackup()} == 'true')"> True
                                        <input style="height:20px;" type="radio" name="backup" value="false" class="form-control" th:checked="(${buildings.getBackup()} == 'false')"> False


                                    </div>
                                </div>
                            </div>
                                <div class="col-xl-4 col-lg-4 col-md-4 hidden" id="textboxes" style="display: none">
                                <div class="basic form-group">

                                    <label for="backup_text">Backup description<span class="required">*</span></label><br>
                                    <textarea th:value="(${buildings.getBackup_text()})" class="form-control backup_text" id="backup_text" name="backup_text" required> </textarea>

                                </div>
                                <script>
                                                    $(function() {
    $('input[name="backup"]').on('click', function() {
        if ($(this).val() == 'true') {
            $('#textboxes').show();
        }
        else {
            $('#textboxes').hide();
        }
    });
});
                                                </script>
                            </div>


                            <div class="col-xl-4 col-lg-4 col-md-4 ">

                                <div class="basic form-group">
                                    <label > Number of units</label>
                                    <input required="" th:value="(${buildings.getNumberofUnits()})" type="text" class="form-control" id="numberofUnits" name="numberofUnits" placeholder="Number of units" value="">
                                </div>
                            </div>


                            <div class="col-xl-4 col-lg-4 col-md-4 ">

                                <div class="basic form-group">
                                    <label > Number of Blocks</label>
                                    <input required="" th:value="(${buildings.getBlocks()})" type="text" class="form-control" id="blocks" name="blocks" placeholder="Number of Blocks" value="">
                                </div>
                            </div>


                            <div class="col-xl-4 col-lg-4 col-md-4 ">
                                <div class="basic form-group">
                                    <label > Number of Floors</label>
                                    <input required="" th:value="(${buildings.getFloors()})" type="text" class="form-control" id="floors" name="floors" placeholder="Number of Floors" value="">
                                </div>

                            </div>


                            <div class="col-xl-4 col-lg-4 col-md-4 ">
                                <div class="basic form-group">
                                    <div class="mb-3">

                                        <label for="" class="form-label">Building Security</label>
                                        <select name="security" id="security" class="form-control">

                                            <option value="Secure" th:selected="(${buildings.getSecurity()} == 'Secure')">Secure</option>
                                            <option value="Insecure" th:selected="(${buildings.getSecurity()} == 'Insecure')">Insecure</option>

                                        </select>
                                    </div>
                                </div>

                            </div>


                            <div class="col-xl-4 col-lg-4 col-md-4 ">
                                <div class="basic form-group">
                                    <label for="name">Street Name<span class="required">*</span></label>
                                    <input type="text" th:value="(${buildings.getStreet_name()})" class="form-control" name="street_name" id="street_name"/>
                                </div>

                            </div>






                                    <div class="col-xl-4 col-lg-4 col-md-4 ">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-10">
                                <label for="name">Building Description<span class="required">*</span></label><br>
                                <textarea class="form-control recomendation" id="recomendation" th:text="${buildings.getBuilding_description()}" name="building_description" rows="2" required> </textarea>
                            </div>
                        </div>

                    </div>
                                    </div>



                                        </div>



                        <input type="text" class="form-control"  name="buildingId" th:value="${buildings.getId()}" hidden/>

                    <button type="button" class="btn btn-danger float-right ml-3" data-dismiss="modal">Cancel</button>
                    <button type="submit"   class="btn btn-primary">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="edit_accessright">
        <div class="modal-dialog modal-lg ">
            <div class="modal-content">

                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title mb-3">Edit Access Right</h4>
                    <form id="edit_1_edit_accessright">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6 ">

                                <div class="basic form-group">
                                    <div class="mb-3">
                                        <label for="" class="form-label">AccessRights Required</label>
                                        <input type="radio" style="height:20px;" name="AccessRights" value="true" class="form-control" th:checked="(${access_right_profile.getAccessRights()} == 'true')"> True
                                        <input type="radio" style="height:20px;" name="AccessRights" value="false" class="form-control" th:checked="(${access_right_profile.getAccessRights()} == 'true')"> False


                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-6 col-lg-6 col-md-6 hidden" id="textbox" style="display: none">
                                <div class="basic form-group">

                                    <label for="backup_text">Access_Right<span class="required">*</span></label><br>
                                    <textarea th:text="${access_right_profile.getAccessRights_text()}"  class="form-control backup_text" id="AccessRights_text" name="AccessRights_text" rows="2" required> </textarea>

                                </div>
                                <script>
                                                    $(function() {
    $('input[name="AccessRights"]').on('click', function() {
        if ($(this).val() == 'true') {
            $('#textbox').show();
        }
        else {
            $('#textbox').hide();
        }
    });
});
                                                </script>
                            </div>

                            <div class="col-xl-6 col-lg-6 col-md-6 ">
                                <div class="form-group">
                                    <div class="mb-3">

                                        <label for="" class="form-label">Right of Access Status </label>
                                        <select name="roa_status" class="form-control">


                                            <option value="Signed" th:selected="(${access_right_profile.getRoa_status()} == 'Signed')">Signed</option>
                                            <option value="Delivered" th:selected="(${access_right_profile.getRoa_status()} == 'Delivered')">Delivered</option>
                                            <option value="Pending" th:selected="(${access_right_profile.getRoa_status()} == 'Pending')">Pending</option>
                                            <option value="Declined" th:selected="(${access_right_profile.getRoa_status()} == 'Declined')">Declined</option>
                                        </select>
                                    </div>
                                </div>

                            </div>

                            <div class="col-xl-6 col-lg-6 col-md-6 ">
                                <div class="form-group">
                                    <div class="mb-3">

                                        <label for="" class="form-label">Access Status</label>
                                        <select name="Access_Status" class="form-control">
                                            <option value="Under consideration" th:selected="(${access_right_profile.getAccess_Status()} == 'Under consideration')"> Under consideration</option>
                                            <option value="Denied" th:selected="(${access_right_profile.getAccess_Status()} == 'Denied')">Denied</option>
                                            <option value="Accepted" th:selected="(${access_right_profile.getAccess_Status()} == 'Accepted')">Accepted</option>

                                        </select>
                                    </div>
                                </div>

                            </div>

                            <div class="col-xl-6 col-lg-6 col-md-6 ">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <label for="Other_terms">Other terms<span class="required">*</span></label><br>
                                            <textarea class="form-control " th:text="${access_right_profile.getOther_terms()}"  id="Other_terms" name="Other_terms" rows="2" required> </textarea>
                                        </div>
                                    </div>

                                </div>

                            </div>


                        </div>

                        <input type="text" name="buildingcode" th:value="${access_right_profile.getBuildingcode()}" hidden>
                        <button type="button" class="btn btn-danger text-white ctm-border-radius float-right ml-3" data-dismiss="modal">Cancel</button>
                        <button type="submit"  class="btn btn-primary">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="edit_Contact">
        <div class="modal-dialog ">
            <div class="modal-content">

                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title mb-3">Add Contact</h4>
                    <form id="edit_1_contact">
                        <div class="form-group">
                            <label> Management Name</label>
                            <input required="" type="text" class="form-control" id="management_type" name="management_type" placeholder="Management name" value="">
                        </div>  <div class="form-group">
                        <label> Full Name</label>
                        <input required="" type="text" class="form-control"  id="full_names" name="full_names" placeholder="Full Names" value="">
                    </div> <div class="form-group">
                        <label> Phone Number</label>
                        <input required="" type="text" class="form-control" id="phone_number"  name="phone_number" placeholder="Phone Number" value="">
                    </div>  <div class="form-group">
                        <label> Id Number</label>
                        <input required="" type="number" class="form-control" id="id_number"  name="id_number" placeholder="Id Number" value="">
                        <input type="text" name="contactId" id="contactId" value="" hidden>
                    </div>

                        <button type="button" class="btn btn-danger text-white ctm-border-radius float-right ml-3" data-dismiss="modal">Cancel</button>
                        <button type="submit"  class="btn btn-primary">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="add_Contact">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title mb-3">Add Contact</h4>
                    <form id="add_new_contact">
                    <div class="form-group">
                        <label> Management Name</label>
                        <input required="" type="text" class="form-control"  name="management_type" placeholder="Management name" value="">
                    </div>  <div class="form-group">
                    <label> Full Name</label>
                    <input required="" type="text" class="form-control"  name="full_names" placeholder="Full Names" value="">
                </div> <div class="form-group">
                    <label> Phone Number</label>
                    <input required="" type="text" class="form-control"  name="phone_number" placeholder="Phone Number" value="">
                </div>  <div class="form-group">
                    <label> Id Number</label>
                    <input required="" type="number" class="form-control"  name="id_number" placeholder="Id Number" value="">
                        <input type="text" name="buildingcode" th:value="${buildings.getBuilding_code()}" hidden>
                </div>

                    <button type="button" class="btn btn-danger text-white ctm-border-radius float-right ml-3" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="add_images">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title mb-3">Add Image</h4>
                    <form id="add_image">
                    <div class="form-group">

                        <label for="name">Building photo<span class="required">*</span></label>
                        <div class="custom-file">

                            <input type="file"  class="custom-file-input" id="pp_photo" name="pp_photo" accept="image/png, image/jpg, image/jpeg" >
                            <label class="custom-file-label" id="pp-photo-name" for="pp-photo">Building photo</label>
                            <img style="width: 100px;
                                           height: 150px;
                                           position: relative;
                                           z-index: 2;
                                           margin-bottom: 10px;
                                           display:none;" id="blah" src="#" alt="Image preview" />

                            <script>
            function readURL(input) {
            if (input.files && input.files[0]) {
             var reader = new FileReader();

             reader.onload = function (e) {

                 document.getElementById('blah').style.display= 'block';
                 $('#blah').attr('src', e.target.result);

             }

             reader.readAsDataURL(input.files[0]);
            }
            }

            $("#pp_photo").change(function(){
            readURL(this);
            });
            </script>
                        </div>  </div>
                 <input type="text" name="buildingId" th:value="${buildings.getId()}" hidden>

                    <button type="button" class="btn btn-danger text-white ctm-border-radius float-right ml-3" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <script th:inline="javascript">
    var basePath = /*[[${@environment.getProperty('url.portal.public')}]]*/
</script>

<script>

      $(document).ready(function(e){
    // Submit form data via Ajax
    $("#add_image").on('submit', function(e){
        e.preventDefault();






        $.ajax({
            type: 'POST',
            url: basePath + "admin/addimage", //call  to store form data
            data: new FormData($(this)[0]),
            dataType: 'json',
            contentType: false,
            cache: false,
            processData:false,
            beforeSend: function(){
                $('.submitBtn').attr("disabled","disabled");
                $('#fupForm').css("opacity",".5");
            },
            success: function(response){ //console.log(response);
                       console.log(response);
                    console.log(response.msg);

 if (response.success) {

    toastr.success(response.msg);

  $('#add_images').modal('hide');
     $("#add_image")[0].reset();


}
else{
toastr.error(response.msg);



  $('#add_images').modal('hide');
     $("#add_image")[0].reset();
}
    setTimeout(function() {
        window.location.reload();
}, 2000);


            },
            error: function(xhr)
         {
           console.log(xhr.responseText)
         },
        });

    });
});


      $(document).ready(function(e){
    // Submit form data via Ajax
    $("#add_new_contact").on('submit', function(e){
        e.preventDefault();






        $.ajax({
            type: 'POST',
            url: basePath + "admin/addcontact", //call  to store form data
            data: new FormData($(this)[0]),
            dataType: 'json',
            contentType: false,
            cache: false,
            processData:false,
            beforeSend: function(){
                $('.submitBtn').attr("disabled","disabled");
                $('#fupForm').css("opacity",".5");
            },
            success: function(response){ //console.log(response);
                       console.log(response);
                    console.log(response.msg);

 if (response.success) {

    toastr.success(response.msg);

  $('#add_Contact').modal('hide');
     $("#add_new_contact")[0].reset();


}
else{
toastr.error(response.msg);


 $('#add_Contact').modal('hide');
     $("#add_new_contact")[0].reset();
}

    setTimeout(function() {
        window.location.reload();
}, 2000);

            },
            error: function(xhr)
         {
           console.log(xhr.responseText)
         },
        });

    });
});


function deleteimage(data){


    console.log(data);

    $.ajax({
            type: 'GET',
            url: basePath + "admin/deleteimage/"+ data, //call  to store form data


            cache: false,

            success: function(response){ //console.log(response);
                          console.log(response);
                    console.log(response.msg);

 if (response.success) {

    toastr.success(response.msg);

  $('#add_images').modal('hide');
     $("#add_image")[0].reset();


}
else{
toastr.error(response.msg);



  $('#add_images').modal('hide');
     $("#add_image")[0].reset();
}

    setTimeout(function() {
        window.location.reload();
}, 2000);



            },
            error: function(xhr)
         {
           console.log(xhr.responseText)
         },
        });
}


function fetchcontact(data){


    console.log(data);

    $.ajax({
            type: 'GET',
            url: basePath + "admin/fetchcontact/"+ data, //call  to store form data


            cache: false,

            success: function(response){ //console.log(response);
                          console.log(response);


                document.getElementById('contactId').value = response.id;
                document.getElementById('management_type').value = response.management_type;
                document.getElementById('full_names').value = response.full_names;
                document.getElementById('phone_number').value = response.phone_number;
                document.getElementById('id_number').value = response.id_number;





            },
            error: function(xhr)
         {
           console.log(xhr.responseText)
         },
        });
}


   $(document).ready(function(e){
    // Submit form data via Ajax
    $("#edit_building").on('submit', function(e){
        e.preventDefault();






        $.ajax({
            type: 'POST',
            url: basePath + "admin/editbuilding", //call  to store form data
            data: new FormData($(this)[0]),
            dataType: 'json',
            contentType: false,
            cache: false,
            processData:false,
            beforeSend: function(){
                $('.submitBtn').attr("disabled","disabled");
                $('#fupForm').css("opacity",".5");
            },
            success: function(response){ //console.log(response);
                       console.log(response);
                    console.log(response.msg);

 if (response.success) {

    toastr.success(response.msg);

  $('#edit_basicInformation').modal('hide');
     $("#edit_building")[0].reset();


}
else{
toastr.error(response.msg);


  $('#edit_basicInformation').modal('hide');
     $("#edit_building")[0].reset();
}

    setTimeout(function() {
        window.location.reload();
}, 2000);

            },
            error: function(xhr)
         {
           console.log(xhr.responseText)
         },
        });

    });
});



   $(document).ready(function(e){
    // Submit form data via Ajax
    $("#edit_1_contact").on('submit', function(e){
        e.preventDefault();






        $.ajax({
            type: 'POST',
            url: basePath + "admin/editcontact", //call  to store form data
            data: new FormData($(this)[0]),
            dataType: 'json',
            contentType: false,
            cache: false,
            processData:false,
            beforeSend: function(){
                $('.submitBtn').attr("disabled","disabled");
                $('#fupForm').css("opacity",".5");
            },
            success: function(response){ //console.log(response);
                       console.log(response);
                    console.log(response.msg);

 if (response.success) {

    toastr.success(response.msg);

  $('#edit_Contact').modal('hide');
     $("#edit_1_contact")[0].reset();

    setTimeout(function() {
        window.location.reload();
}, 2000);

}
else{
toastr.error(response.msg);


 $('#edit_Contact').modal('hide');
     $("#edit_1_contact")[0].reset();

         setTimeout(function() {
        window.location.reload();
}, 2000);
}



            },
            error: function(xhr)
         {
           console.log(xhr.responseText)
         },
        });

    });
});


      $(document).ready(function(e){
    // Submit form data via Ajax
    $("#edit_1_edit_accessright").on('submit', function(e){
        e.preventDefault();






        $.ajax({
            type: 'POST',
            url: basePath + "admin/edit_1_edit_accessright", //call  to store form data
            data: new FormData($(this)[0]),
            dataType: 'json',
            contentType: false,
            cache: false,
            processData:false,
            beforeSend: function(){
                $('.submitBtn').attr("disabled","disabled");
                $('#fupForm').css("opacity",".5");
            },
            success: function(response){ //console.log(response);
                       console.log(response);
                    console.log(response.msg);

 if (response.success) {

    toastr.success(response.msg);

  $('#add_Contact').modal('hide');
     $("#add_new_contact")[0].reset();


}
else{
toastr.error(response.msg);


 $('#add_Contact').modal('hide');
     $("#add_new_contact")[0].reset();
}

    setTimeout(function() {
        window.location.reload();
}, 2000);

            },
            error: function(xhr)
         {
           console.log(xhr.responseText)
         },
        });

    });
});

</script>

<section th:replace="footer :: footer"></section>





