

<aside  id="left-panel" class="left-panel" th:fragment="sidebar">
    <nav class="navbar navbar-expand-sm navbar-default">
        <div id="main-menu" class="main-menu collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/admin/index"><i class="menu-icon fa fa-laptop"></i>Dashboard </a>
                </li>





                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-file-pdf-o"></i>Managment </a>
                    <ul class="sub-menu children dropdown-menu">
                        <a href="/admin/acqusitions"><i class="menu-icon fa fa-th"></i>New Acqusitions</a>
                        <li><a href="/admin/myacqusitions">My Acqusitions</a></li>


                    </ul>
                </li>


                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-gears"></i>Setting </a>
                    <ul class="sub-menu children dropdown-menu">
                        <li></i><a href="/Teritories">Teritories</a></li>




                    </ul>
                </li>



                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-eye"></i>Admin</a>
                    <ul class="sub-menu children dropdown-menu">

                       <li><a href="/admin_users">Users</a></li>
                        <li><a href="/admin_roles">Roles</a></li>


                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
</aside>


