<!DOCTYPE html>
<html lang="en" th:fragment="topbar">

<head>
  <title>Nexcom</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="shortcut icon" th:href="@{/assets/image/favicon.ico}"/>

  <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/assets/css/sty.css}">
  <link rel="stylesheet" th:href="@{/assets/css/cs-skin-elastic.css}">
  <link rel="stylesheet" th:href="@{/assets/css/themify-icons.css}">
  <link rel="stylesheet" th:href="@{/assets/css/iziToast.min.css}">  
  

  <script th:src="@{/assets/js/jquery.min.js}"></script>
  <script th:src="@{/assets/js/popper.min.js}"></script>
  <script th:src="@{/assets/js/bootstrap.min.js}"></script>
  <script src="https://partners.pesatel.com/checkout/lin/pesatel.js"></script>
</head>
<body>

  <div>

    <nav class="navbar navbar-light bg-light" style="background-image: url(/assets/image/bg13.png);
    background-size: cover;
    background-position: center;
    -o-box-shadow:0px 0px  9px -6px;
    -ms-box-shadow:0px 0px  9px -6px;
    -moz-box-shadow:0px 0px  9px -6px;
    -webkit-box-shadow:0px 0px  9px -6px;
    box-shadow:0px 0px  9px -6px;
    ">
      <a  href="http://www.directcore.com" target="_blank" class="mx-auto">
        <img th:src="@{/assets/image/nexcom_logo.png}" alt=""  style="max-height: 50px; ">
      </a>
    </nav>
    
  </div>
  <br>


