<!DOCTYPE html>
<html lang="en">
<section  th:fragment="topbar-signup">
<head>
  <title>Nexcom</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="shortcut icon"  th:href="@{/assets/image/favicon.ico}"/>

  <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">

  <link rel="stylesheet" th:href="@{/assets/css/themify-icons.css}">
  <link rel="stylesheet" th:href="@{/assets/css/imports.css}">

  <script th:src="@{/assets/js/jquery.min.js}"></script>
  <script th:src="@{/assets/js/popper.min.js}"></script>
  <script th:src="@{/assets/js/bootstrap.min.js}"></script>
  <script src="https://partners.pesatel.com/checkout/lin/pesatel.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,700&display=swap" rel="stylesheet">
</head>
  <body  id="login_pg">

   <span class="text-center" id="loading" style="display:none;z-index:99999!important;">
    <img th:src="@{/assets/image/loading.gif}"  alt="loading" 
    style="max-height:40px; max-width:40px; top:18%; left:40%;z-index: 9999;position:fixed;"/>
  </span>

   <script th:inline="javascript">
  /*<![CDATA[*/
  var basePath = /*[[${@environment.getProperty('url.portal.public')}]]*/
  /*]]>*/
</script>
