<section th:replace="topbar :: topbar"></section>


<section th:replace="sidebar :: sidebar"></section>


<section th:replace="header :: header"></section>

</section>
<style>
          table{
            font-size: 14px;
        }
body{
    background-color: #dedede;
}
.customers-list{
            background-color: #ffffff;

        }
        hr{
            color: black;
        }
        #tab{
            background-color: #ffffff;
            padding-left: 10px;
            border-radius: 10px;

        }
        #tab p{
            text-align: center;
            padding-top: 13px;
            font-size: 14px;
            font-family: 'Courier New', Courier, monospace;
            font-weight: 600;

        }
</style>

<div class="content">



  <!-- /Widgets -->
  <div class="container-fluid">
    <div class="row" id="tab">
      <p style="float: left;"> Dashboard</p>
    </div>
    <div class="row" >
      <hr>
    </div>

  </div>
  <div class="container-fluid" >


  </div>
</div>

<section th:replace="footer :: footer"></section>
